body{
	color: white;
	margin: 0;
	padding: 0;
	font-family: georgia,sans-serif;
}
.wrapper{
	background-color: transparent;
	color: white;
	background: url("../images/eagle.jpg") no-repeat;
}
.navbar{
	margin-bottom: 0;
}
.navbar-brand{
	padding: 0;
}
.header{
	margin: 0 auto;
	background: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
}
.introduction{
	padding-top: 270px;
	padding-bottom: 262px;
	text-align: center;
}
.introduction a{
	position: relative;
	top: 50px;
	text-decoration: none;
	padding: 10px;
	font-size: 20px;
	line-height: 1.4em;
	border: solid 1px white;
	border-radius: 8px;
	color: white;
}
.introduction a:hover{
	background-color: gray;
}
/* wrapper ends*/
/* article starts*/
.article{
	text-align: center;
	color: black;
	margin-top: 30px;
	margin-bottom: 10px;
}
.article > h1{
	margin-top: 45px;
	margin-bottom: 57px;
}
.content{
	margin-top: 20px;
	font-family: "微软雅黑",georgia,sans-serif;
	text-align: left;
	text-indent: 20px;
}
.article p,.article li{
	padding-left: 10px;
}
#base-all,#base-ie9,#base-ie8,#base-ie6,#base-ie5,#base-ie,#base-others{
	width: 60%;
	float: right;
}
#base-ie9,#base-ie8,#base-ie6,#base-ie5,#base-ie,#base-others{
	display: none;
}
.conclusion{
	font-family: georgia;
	list-style-type: none;
	float: left;
	display: inline-block;
	color: black;
	font-size: 15px;
	border: solid 1px #F5F5DC;
	border-radius: 6px;
	box-shadow: 5px 5px 3px #888888;
	text-align: left;
	text-indent: 0;
	padding: 0;
	min-height: 250px;
	opacity: 1;
	margin-left: 10px;
}
.conclusion :first-child {
	font-family: "微软雅黑";
	text-align: center;
	font-size: 18px;
	background-color: #E6E6FA;
	padding: 5px;
}
#base-others .conclusion{
	min-height: 120px;
	min-width: 170px;
}
.article a{
	cursor: pointer;
}
.panel {
	width: 40%;
	text-indent: 0;
	text-align: left;
	float: left;
}
/*article ends*/
/*footer starts*/
.footer{
	background-color: rgba(0,0,0,0.9);
}
.footer > .content {
	margin-left: 500px;
}
.footer > .content img{

	padding: 10px;
}
.footer p{
	text-align: center;
	font-size: 20px;
}