@charset "utf-8";
@import "_css3lib";
/**============================
通用
==============================*/

// 光圈旋转
@include keyframes(shine-rotate, webkit moz ms spec) {
    0% { @include transform(rotateZ(360deg));}
    100% { @include transform(rotateZ(0deg));}
}

// 元素飘落
@include keyframes(jm-dropElement, webkit moz ms spec) {
    0% { @include transform(translate3d(0, -25px,0)); }
    20% { @include transform(translate3d(70%, 60px,0)) }
    40% { @include transform(translate3d(-30%, 120px,0)) }
    60% { @include transform(translate3d(-15%, 180px,0)) }
    80% { @include transform(translate3d(40%, 240px,0)) }
    100% { @include transform(translate3d(16%, 400px,0)); opacity: 0; }
}

//jm-bounceIn
@include keyframes(jm-bounceIn, webkit moz ms spec) {
    0%, 100% { @include transform-origin(50% 25rem);}
    0% { opacity: 0; @include transform(scale3d(0, 0, 0)); }
    100% { opacity: 1; @include transform(scale3d(1, 1, 1)); }
}

//jm-bounceOut
@include keyframes(jm-bounceOut, webkit moz ms spec) {
    0%, 100% { @include transform-origin(50% 25rem);}
    0% { opacity: 1; @include transform(scale3d(1, 1, 1)); }
    100% { opacity: 0; @include transform(scale3d(0, 0, 0)); }
}