
.pagination-container .pagination-sm{
    float: right;
}
.pagination-container .pagination-info{
    margin: 0px 10px;
    line-height:30px;
    float: right;
}
.pagination-info span{
    margin: 0 5px;
}
.pagination-info input {
    width: 40px;
    margin: 0px 5px;
}
.grace-table-intable{
    padding: 20px;
    background-color: #ddd;
}
.bury-tab-content .grace-table-intable th.grace-table-th{
    background-color: #fff;
    height: 40px;
}
.statistics-block h4 {
    padding: 1% 1% 5px;
}
.statistics-block p {
    padding: 8px 1% 5px 1%;
    color: rgb(248, 84, 84);
}
.statistics-block p a{
    color: rgb(248, 84, 84);
}
.statistics-block textarea {
    width: 60%;
    height: 112px;
    margin:0 1% 20px;
}

.logManage-tab span {
    text-align:center;
    background: #f9f9f9;
    box-sizing: border-box;
    border: 1px solid #eaebe5;
    border-left:0;
    min-width:120px;
    display:inline-block;
    padding:13px 0;
}
.logManage-tab span:nth-child(1){
    border-left: 1px solid #eaebe5;
}
.logManage-tab span.active {
    background: white;
    border-bottom: none;
    background:#fff;
    margin-bottom: -1px;
    padding-bottom: 14px;
}
.logManage-tab span a{
    padding: 5px;
}
.logManage-tab {
    position: absolute;
    bottom: -1px;
    z-index: 9;
}
.input-1-2{
    width: 90px !important;
}

.grace-time-picker{
    line-height: 40px;
}
.grace-time-picker label{
    float: left;
    padding: 0px 10px;
}

.grace-time-picker #datePicker4ClickIdCheck{
    float: left;
}

.grace-flow-layer{
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -200px;
    background: white;
}

.grace-table tsc i{
    display: inline-block;
    vertical-align: middle;
}

.grace-table tsc i.tableExpand {
    width: 10px;
    height: 10px;
    background: url(./img/drop-down.png) 0px 0px no-repeat;
    margin-top: 3px;
}
.grace-table .dropdown-box button.grace-btn.tableExpand.dropdown-toggle{
    text-indent: 0;
    width: 10px;
    height: 10px;
    background: url(./img/drop-down.png) 0px 0px no-repeat !important;
    top: 5px;
    padding: 2px 3px;
}
.bury-tab-content .grace-table .dropdown-box button.grace-btn:not(.dropdown-toggle){
    padding: 0 10px;
}
.bury-tab-content .grace-table .dropdown-box button.grace-btn{
    float: none;
    line-height: normal;
}
.grace-table tsc i.nonetableExpand{
    width: 10px;
    height: 10px;
    background: none;
}

.grace-table tsc i.tableExport{
    width: 18px;
    height: 17px;
    background: url(../img/icon-sprite.png) no-repeat 0px -3170px;
}

.grace-table tsc i.tableUp{
    width: 18px;
    height: 17px;
    background: url(../img/icon-sprite.png) no-repeat 0px -3124px;
}

.grace-table tsc i.tableCheck{
    width: 18px;
    height: 13px;
    background: url(../img/icon-sprite.png) no-repeat 0px -3215px;
}

.grace-table tsc i.tableUnApply{
    width: 18px;
    height: 17px;
    background: url(../img/icon-sprite.png) no-repeat 0px -2556px;
}

.grace-table tsc i.tableReject{
    width: 18px;
    height: 17px;
    background: url(../img/icon-sprite.png) no-repeat 0px -2556px;
}
.grace-table tsc i.tableAccept{
    width: 18px;
    height: 17px;
    background: url(../img/icon-sprite.png) no-repeat 0px -3170px;
}

.grace-table tsc i.grace-table-btn-edit{
    width: 17px;
    height: 17px;
    text-indent: -10000px;
    background: url(../img/icon-sprite.png) no-repeat 0px -2819px;
}
.grace-table-group .grace-table-btn-ok{
    text-indent: -10000px;
    background: url(../img/icon-sprite.png) no-repeat 4px -3036px;
}
.grace-table-group .grace-table-btn-cancel{
    text-indent: -10000px;
    background: url(../img/icon-sprite.png) no-repeat -16px -3036px;
}
.grace-table .grace-table-group{
    box-shadow: 1px 1px 3px 0 #555 inset;
}
.grace-table .dropdown-box .btn{
    padding: 2px 13px;
}
.grace-table .dropdown-box .btn.dropdown-toggle{
    text-indent: -10000px;
    background: url(../img/icon-sprite.png) 0px -1647px;
}

.manage-log-page .table-container {
    width: 100%;
    height: 449px;
    overflow-x: scroll;
}

.manage-log-page .pagination-container {
    position: absolute;
    bottom: 15px;
    right: 30px;
}

.manage-log-page .grace-table tbody .grace-table-tr .grace-table-td:nth-last-child(2) {
    /*text-align: left;*/
    width: 270px;
}
.manage-url-page .grace-table tbody .grace-table-tr .grace-table-td:nth-last-child(1) {
    /*text-align: left;*/
}
#formSubmit .form-msg li{
    position: relative;
}
#formSubmit .form-msg>li{
    width:462px;
}

.layer-wrap #formSubmit .layer-close{
    right: 0px;
    top: 1px;
}
.layer-wrap #formSubmit .layer-custom{
    right: 38px;
    position: absolute;
    top: 6px;
}
.layer-wrap #formSubmit .layer-custom input{
    vertical-align: -2px;
}
#logTable .grace-table-tr .grace-table-td tsc{
    padding: 11px 8px;
}
.log-right{
    float:right;

}



body>ul.dropdown-menu{
    z-index: 1025;
}

.layer-wrap{
    z-index: 1024;
}

.lgParas+.lgParas{
    margin-top: 20px;
    position: relative;
}

.lgParas .layer-close{
    top: 1px;
    right: -30px;
}

label.lgLabel{
    margin-left: 12px;
    vertical-align: -5px;
}

#lgVerify .form-msg{
    padding: 0;
}

#lgVerify .form-msg li{
    margin-bottom: 0;
}
#lgVerify textarea{
    height: 50px;
    width: 97%;
}

#lgVerify .form-msg li .name{
    width: 98px;
}


.bury-title{
    padding: 15px;
    font-size: 12px;
    color: #89A0B8;
    background: #F7FDFF;
    border: 1px solid #D4F1FE;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
}
.bury-title p{
    margin-bottom: 5px;
}
.bury-title a{
    color: #31ADEB;
}
.bury-tab.tab-wrapper .nav-tabs{
    width: auto;
    height: 73px;
    border-bottom: 1px solid #EBEBE5;
}
.bury-tab.tab-wrapper .nav-tabs li{
    position: relative;
    padding-top: 0;
    margin-top: 23px;
}
.bury-tab.tab-wrapper .nav-tabs li span.caption{
    position: absolute;
    width: 170px;
    right: -171px;
    box-sizing: border-box;
    top: 0;
    padding: 10px;
    border: 1px solid #EBEBE5;
    background-color: #fff;
    box-shadow: 2px 2px 5px #EBEBE5;
    border-radius: 5px;
    word-break: break-all;
    z-index: 3;
    text-align: left;
    display: none;
    font-size: 12px;
    color: #A4ACB4;
}
.bury-tab .nav>li>a{
    position: static;
    display: inline-block;
    margin-right: 5px;
}
.bury-tab.tab-wrapper .nav-tabs li > i{
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    top: 2px;
    background: url(./img/question.png) 0px 0px no-repeat;
    cursor: pointer;
}
.bury-tab.tab-wrapper .nav-tabs li > i:hover+span{
    display: block;
}
.bury-tab.tab-wrapper .nav-tabs li > i:hover+span:before{
    content: '';
    display: inline-block;
    position: absolute;
    left: -4px;
    top: 5px;
    width: 5px;
    height: 7px;
    background: url(./img/triangle.png) 0px 0px no-repeat;
}
.bury-tab{

}
a.btn_default{
    color: #FFF;
    border-radius: 5px;
    display: inline-block;
    background-color: #31ADEB;
    font-size: 12px;
    cursor: pointer;
    height: 30px;
    padding: 0 12px;
    text-align: center;
    line-height: 28px;
    text-decoration: none;
}
a.btn_default:hover{
    background-color:#54C6FF;
}
.bury-tab-content .title{
    padding: 19px 0;
}
.bury-tab-content{
    padding: 0 19px;
}
.bury-tab-content table th.grace-table-th{
    height: 50px;
    box-sizing: border-box;
    background-color: #F7F7F7;
    text-align: left;
}
.bury-tab-content table.grace-table tbody .grace-table-tr  td.grace-table-td tsc,
.bury-tab-content table.grace-table tbody .grace-table-tr  td.grace-table-td{
    text-align: left;
}
.bury-tab-content table.grace-table tbody .grace-table-tr  td.grace-table-td:last-child *{
    font-size: 12px;
    color: #31ADEB;
    display: inline-block;
    cursor: pointer;
}
.bury-tab-content table.grace-table tbody .grace-table-tr  td.grace-table-td:last-child a:hover{
    text-decoration: none;
}
.bury-tab-content table.grace-table tbody .grace-table-tr  td a{
    text-decoration: none;
}


.bury-tab-content .grace-table .grace-table-th *,
.bury-tab-content .grace-btn-group>.grace-btn:first-child:not(:last-child):not(.dropdown-toggle){
    font-size: 12px;
    color: #A4ACB4;
}
.bury-tab-content table .grace-btn-group>.grace-btn:hover{
    outline-style: none;
    border-style: none;
}
.bury-tab-content table .grace-btn-group>.grace-btn{
    border-style: none;
}
.bury-tab-content .grace-btn-group:hover ul{
    display: block;
}
.bury-tab-content .grace-btn-group ul a:hover{
    color: #fff;
    cursor: pointer;
}
.dropdown-menu{
    margin: 0;
}


.icon-plus{
    width: 12px;
    height: 12px;
    background: url(./img/+.png) 0 0 no-repeat;
    display: inline-block;
    padding: 0px 2px;
    position: relative;
    top: 2px;
}
.form-search-wrapper{
    float: right;
}
.form-search-wrapper:after{
    content: "";
    clear: both;
    display: table;
}
.form-search-wrapper *{
    float: left;
}
.form-search{
    width: 360px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-size: 12px;
    padding-left: 10px;
}
.form-search-wrapper i{
    content: '';
    height: 13px;
    width: 13px;
    display: inline-block;
    background: url(./img/sprite3.png) -23px -0px no-repeat;
    position: relative;
    left: -24px;
    top: 9px;
    cursor: pointer;
    z-index: 2;
}

.apply-click .modal-dialog{
    width: 434px !important;
}
.form-msg.apply-body{
    padding: 0;
    
}
.form-msg.apply-body li .name{
    font-size: 12px;
    color: #A4ACB4;
    line-height: 16px;
}
.form-msg.apply-body li .name i.red{
    font-size: 12px;
    color: #FF5C34;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

input.form-control{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    outline-style: none;
    box-shadow: none;
}
.gray-input, .gray-textarea{
    border-style: none;
}


.form-msg.apply-body li span{
    display: inline-block;
    width: 90px;
    padding-right: 10px;
    position: relative;
    top: 5px;
}
.form-msg.apply-body li input{
    width: 270px;
}
.form-msg input.form-control.short{
    width: 100px;
}
.form-msg li:last-child{
    margin-bottom: 0;
}
._show{
    display: block;
}

.modal-delete .modal-dialog{
    width: 170px !important;
    font-size: 12px;
    color: #263E56;
    margin-top: 25%;
}
.modal-delete .modal-dialog .modal-footer button{
    width: 44px;
    height: 22px;
    font-size: 12px;
    line-height: 20px;
    padding: 0;

}
.modal-delete .modal-dialog .modal-footer{
    text-align: right;
    padding: 15px 20px;
    height: auto;
    line-height: normal;
}

.success-icon.alertSomething p:before {
    background: url(./img/small-success.png) 0 0 no-repeat;
}

.apply-browse .modal-dialog{
    width: 434px !important;
}





/* ------------------------------------- */

.form-msg > li li{
    margin-bottom: 0;
}
#logTable>thead th:nth-child(2), #logTable>tbody>tr.grace-table-tr.ng-scope td:nth-child(2) tsc,  #logTable>thead th:nth-child(3), #logTable>tbody>tr.grace-table-tr.ng-scope td:nth-child(3) tsc, #pointTable>thead th:nth-child(2), #pointTable>tbody>tr.grace-table-tr.ng-scope td:nth-child(2) tsc, #pointTable>thead th:nth-child(5), #pointTable>tbody>tr.grace-table-tr.ng-scope td:nth-child(5) tsc, #pointTable>thead th:nth-child(6), #pointTable>tbody>tr.grace-table-tr.ng-scope td:nth-child(6) tsc{
    text-align: left;
}
#logTable>thead th:nth-child(8) {
    min-width: 108px;
}
.grace-table .dropdown-menu {
    min-width: 83px;
    text-align: center;
}
.platform{
    position: absolute;
    background: #FFF;
    top: 32px;
    z-index: 1;
    padding: 10px 5px;
    border: 1px solid #CCC;
    width: 250px;
    border-radius: 5px;
    font-size: 12px;
    color: #A4ACB4;
    display: none;
}
.platform dt{
    padding: 5px 2px ;
    font-weight: normal;
}
.platform dd{
    display: inline-block;
    border: 1px solid #CCC;
    padding: 2px 5px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
}

#pointCheck .form-msg{
    padding: 5px 30px 0;
}
#pointCheck .form-msg li{
    margin-bottom: 10px;
}
#pointCheck .form-msg li .name{
    line-height: 21px;
    text-align: left;
    width: 60px;
}
/*#pointTab .grace-table tbody .grace-table-tr .grace-table-td,
#pointTab .grace-table .grace-table-tr .grace-table-td tsc,
#pointTab .grace-table tr th{
    text-align: left;
}*/
#pointCheck .input>input{
    width: 150px;
}
#pointCheck .textarea>textarea{
    width: 220px;
}

#logTable>thead>.grace-table-th:nth-child(3), #logTable>tbody>.grace-table-tr>.grace-table-td:nth-child(3) tsc,
#pointTable .grace-table-th:nth-child(6), #pointTable .grace-table-tr .grace-table-td:nth-child(6) tsc {
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#pointTable>thead th:nth-child(2){
    min-width: 166px;
}
#pointTable>thead th:nth-child(3){
    min-width:95px;
}
#pointTable>thead th:nth-child(4){
    min-width: 107px;
}
#pointTable>thead th:nth-child(2) .btn-group>.btn:first-child
,#pointTable>thead th:nth-child(3) .btn-group>.btn:first-child
,#pointTable>thead th:nth-child(4) .btn-group>.btn:first-child{
    padding: 2px 6px;
}

.layer-layout #lgApply input{
    padding-right: 0;
}
#lgApply .form-msg li .name{
    width: 105px;
}

.site-style .site-list input[type="checkbox"]{
    float:left;
    margin-top: 7px;
}
.site-style .site-list{
    margin: 0 20px 5px;
}
.site-style .site-list .input input[type="text"]{
    width:135px;
}
.site-style .site-list .input:nth-child(3){
    margin: 0;
}
.site-style .page-list {
    margin: 0 0 5px 10px;
}
.site-style .page-list label{
    margin: 0 8px 8px 0;
    display: inline-block;
}
.site-style .page-list span{
    display: inline-block;
    width: 38px;
    text-align: right;
}
.site-style .page-list input[type="checkbox"]{
    vertical-align: -2px;
}
.site-list .name{
    float: left;
    line-height: 30px;
}
.site-list .form-right{
    float: left;
}

/*---------------------------------------------*/


.input.gray-input,
.textarea.gray-textarea{
    margin-left: 0;
}
.apply-body .input.gray-input input,
.apply-body .textarea.gray-textarea textarea{
    width: 270px;
    padding: 5px 10px;
}
.apply-body .dropdownbox:hover .platform{
    display: block;
}

.modal-reject-reason .modal-body p{
    border-bottom: 1px solid #F2F2F2;
    font-size: 12px;
    color: #263E56;
    margin-bottom: 10px;
    padding-bottom: 3px;
}
.modal-reject-reason .modal-body p:after{
    content: "";
    clear: both;
    display: table;
}
.modal-reject-reason .modal-body p span+span{
    float: right;
}
.modal-reject-reason .modal-body p.caption{
    border-style: none;
}

.modal-reject-reason .modal-dialog,.modal-review-browse .modal-dialog{
    width: 434px !important;
}

.modal-review-browse p,
.modal-review-diy p{
    font-size: 12px;
    color: #263E56; 
    margin-bottom: 10px;  
}
.modal-review-browse .floor1 span,
.modal-review-diy .floor1 span{
    display: inline-block;
    text-align: left;
}
.modal-review-browse .floor1 span:first-child{
    color: #A4ACB4;
    text-align: right;
    width: 68px;
    margin-right: 15px;
}
.modal-review-diy .floor1 span:first-child{
    color: #A4ACB4;
    text-align: right;
    width: 95px;
    margin-right: 15px;
}
.modal-review-browse .floor1,
.modal-review-diy .floor1{
    padding-bottom: 5px;
    border-bottom: 1px solid #F2F2F2;
}
.modal-review-browse .floor2,
.modal-review-diy .floor2{
    border-bottom: 1px solid #F2F2F2;
}
.modal-review-browse .floor2 textarea,
.modal-review-diy .floor2 textarea{
    height: 107px;
    /*overflow-y: hidden;*/
}
.modal-review-browse .floor2,
.modal-review-diy .floor2{
    padding: 15px 0 20px;
}

textarea.uneditable{
    background: #F3F3F3;
}
.modal-review-browse .floor3 textarea,.modal-review-diy .floor3 textarea{
    height: 60px;
}
.modal-review-browse .floor3,.modal-review-diy .floor3{
    padding-top: 15px;
}

i.checkBox{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-top: 5px;
    vertical-align: bottom;
    background: url(./img/icon-home.png) 1px -409px no-repeat;
    cursor: pointer;
}
i.checkBox.on{
    background-position: 1px -452px; */
}

.modal-continue-review .modal-dialog{
    width: 434px !important;
    font-size: 12px;
    
}
.modal-continue-review h4{
    font-size: 12px;
    color: #263E56;
}
.modal-continue-review .floor p{
    margin-left: 15px;
    color: #263E56;
}
.modal-continue-review .floor .dropdown_container > span{
    display: block;
    float: left;
    color: #A4ACB4;
    margin-right: 10px;
    margin-top: 5px;
}
.modal-continue-review .floor2 .dropdown_container:first-child button{
    width: 116px;
}
.modal-continue-review .floor2 .dropdown_container+.dropdown_container button{
    width: 185px;
}
.modal-continue-review .floor .dropdown_container .grace-btn-group{
    float: left;
}
.modal-continue-review .floor .dropdown_container{
    margin-left: 15px;
    margin-bottom: 15px;
}
.modal-continue-review .floor .dropdown_container:after{
    content: "";
    display: table;
    clear: both;
}
.modal-continue-review .floor3 span{
    margin-right: 20px;

}
.modal-continue-review .floor1{
    padding-bottom: 20px;
    border-bottom: 1px solid #F2F2F2;
}
.modal-continue-review .floor2{
    border-bottom: 1px solid #F2F2F2;
    padding: 15px 0 5px;
}
.modal-continue-review .floor3{
    padding-top: 15px;
}
.modal-continue-review .grace-btn-group button{
    background-color: #fff;
    border: solid 1px #D9D9D9;
    font-size: 12px;
    color: #263E56;
    padding: 5px 23px 5px 10px;
    outline-style: none;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.modal-continue-review span.caret{
    width: 8px !important;
    height: 5px !important;
    background: url(./img/drop-down.png) 0px 0px no-repeat !important;
    border-style: none !important;
    position: absolute;
    right: 8px;
    top: 12px;
}
.modal-continue-review .grace-btn-group button:active{
    background-color: #fff;
    border: solid 1px #D9D9D9;
    font-size: 12px;
    color: #263E56;
    padding: 5px 23px 5px 10px;
    outline-style: none;
    box-sizing: border-box;
}
.modal-continue-review .grace-btn-group:hover > ul{
    display: block;
}

.modal-std .modal-dialog{
    width: 434px !important;
}
.modal-browse-getCode textarea,
.modal-diy-getCode textarea{
    height: 107px;
}
.modal-browse-getCode .bury-title+textarea,
.modal-diy-getCode .bury-title+textarea{
    margin: 15px 0;
}

.call-params .lgParas .gray-input input{
    width: 112px;
}
.call-params .lgParas .gray-input:first-child input{
    width: 153px;
    margin-right: 5px;
}
.apply-diy .form-msg.apply-body li span,
.modal-modify .form-msg.apply-body li span{
    width: 95px;
}
.apply-diy .modal-body,
.modal-modify .modal-body{
    padding: 20px 15px 0;
}
.apply-diy a.new-class-more i,
.modal-modify a.new-class-more i{
    top: 2px;
}
.apply-diy a.new-class-more,
.modal-modify a.new-class-more{
    margin-left: 115px;
}
.apply-diy a.layer-close,
.modal-modify a.layer-close{
    position: absolute;
    z-index: 1;
    right: -15px;
    top: 5px;
    width: 18px;
    height: 18px;
    display: block;
    cursor: pointer;
    background: url(./img/delete.png) 0 0 no-repeat;
}
.modal-modify .form-msg.apply-body li .form-right > span{
    position: static;
    font-size: 12px;
    color: #263E56;
}
.modal-diy-getCode .modal-body textarea:last-child{
    height: 195px;
    margin-bottom: 0;
}
.grace-btn-group:hover > ul{
    display: block;
}
.modal-footer > button:first-child:hover{
    background-color:#54C6FF;
}


.grace-table tsc i.tableUp{
    background: url(./img/drop-up.png) 0px 0px no-repeat;
    width: 10px;
    height: 10px;
    margin-top: 3px;
}