@charset "utf-8";
/* CSS Document */

/*查看其它时间按钮*/
.icon-see {
    background: #3790e1;
    display: block;
    float: right;
    width: 132px;
    height: 36px;
    margin-right: 4%;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    position: relative;

}


.icon-see:hover {
    background: #3387de;
}
.icon-see i.icon {
    background: url(../img/icon-sprite.png) no-repeat -1px -120px;
    height: 18px;
    width: 18px;
    display: block;
    float: left;
    margin: 10px 10px 0 15px;
}
.icon-see span.text {
    height: 36px;
    line-height: 36px;
    display: block;
    float: left;
}

/*视角3*/
/*容器样式*/
.view-bg {
    padding: 0;
}
.view-bg .chart {
    /*background: #f0f4f7;*/
    /*border-bottom: 1px solid #edede8;*/
    padding: 1%;
    /*box-shadow:-1px 0 3px #ccc;*/
}
.view-bg .table-wrap {
    padding: 1%;
    padding-bottom: 50px;
    height: auto;
}
.view-border{
    border-bottom:1px solid #edede8;
}
/*用户数据指标列表*/
.userdata{
    /*border:1px solid #edede8;*/
    background:#fff;
    position:relative;
    /*margin-top:5px;*/

}
.userdata li{
    float:left;
    width:50%;

}
.userdata li .target{
    padding:0 2%;
    min-height: 347px;
    height: 347px;
    position: relative;
}
.userdata li h6{
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 18px;
    font-family: 'MICROSOFT YAHEI';
}
.userdata li.down{
    position:absolute;
    width:25px;
    height:25px;
    right:3px;
    top:-25px;
    display:none;
}
.userdata li.down a, .user-compare li .downCom{
    display:block;
    cursor:pointer;
    float:right;
    width:25px;
    height:25px;
    position:relative;
    top:1px;
    margin-right:5px;
    background: url(../img/icon-up.png) no-repeat 0 -33px;
}

.userdata li.down.up a, .user-compare li .downCom.upCom{
    background: url(../img/icon-sprite.png) no-repeat 0 -803px;
}
.user-compare li .downCom{
    position:absolute;
    width:25px;
    height:25px;
    right:3px;
    top:16px;
    display:none;
}
.userdata li.down a:hover, .user-compare li .downCom:hover{
    background: url(../img/icon-up.png) no-repeat 0 2px;
}
.userdata li.up a:hover, .user-compare li .downCom.upCom:hover{
    background: url(../img/icon-sprite.png) no-repeat 0 -828px;
}
.user-compare{
    border:none;
    background-color:#fff;
    margin-top:0;
}
.user-compare li{
    position:relative;
    min-height: 80px;
    border:1px solid #edede8;
    border-top:none;
    background:#fff;
}
.user-compare li.down{
    top:16px;
}
.user-compare li .target{
    background:#fff;

}

/*.user-compare li h6{
    box-shadow:none;
    border:none;
    line-height:55px;
    margin-top:0;
    text-align:center;
}*/

.user-compare li.new .search{
    float:right;
    height:27px;

}
.user-compare li.new .table-wrap{
    clear:both;
}
.user-compare .compare{
    position:absolute;
    width:38px;
    height:391px;
    top:-20px;
    left:-25px;
    z-index: 2;
    background:#f9f9f9;
    border:1px solid #edede8;
    border-top:none;

}
.user-compare .compare span{
    width:15px;
    height:275px;
    top:30%;
    position:absolute;
    left:35%;
    color:#404a58;
    text-align:center;
    font-weight:bold;



}
.user-compare li .search{
    margin-bottom:20px;
}

/*用户数据指标表格切换*/

.tab .table-wrap{
    padding:1%;
    border-radius:5px;
    border-top-left-radius:0;
    border-top-right-radius:0;
    border:1px solid #edede8;
    border-top:none;
    background:#fff;
}
.tab .tab-a{
    background:#eee;
    padding-left:1px;
}
.tab .tab-a li{
    float:left;
    margin-right:1px;
}
.tab .tab-a li a{
    display:block;
    width:147px;
    height:57px;
    line-height:57px;
    text-align:center;

}
.tab .tab-a li a.on, .tab .tab-a li a:hover{
    background:#fff;
    font-weight:bold;
    line-height:58px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.pagination-container {
    position: absolute;
    bottom: 8px;
    right: 0;
    padding-right: 20px;
}
.pagination-container .pagination-sm {
    float: right;
    margin: 0px;
}
.pagination-container .pagination-info, .pagination-container .pagination-sizes{
    /*margin: 0px 10px 0px 10px;*/
    line-height: 30px;
    float: right;
}
.pagination-info span{
    margin: 0 5px;
}
.pagination-info input {
    width: 40px;
    margin: 0px 5px;
}
.newcustomer .table-content{
    height: 345px;
    overflow: auto;
}

.flowsource .table-content{
    height: 453px;
    overflow: auto;
}
.order .table-content{
    height: 463px;
    overflow: auto;
}
/*副导航*/
.homepage-title-tabs {
    margin-top: 10px;
}
.homepage-title-tabs .nav{
    background: transparent;
    float: left;
    height: auto;
}
.homepage-title-tabs .nav-tabs{
    border-bottom: none;
    border-left:1px solid #edede8;
}
.homepage-title-tabs .nav li a{
    color: #333;
    font-size: 15px;
    border-radius: 0px;
    padding: 12px 50px;
    border-top: 1px solid #edede8;
    border-right: 1px solid #edede8;
    background:#f9f9f9;
}
.nav li a i.coreGroup_icon{
    background-position: 0px -2232px;
}
.nav li a:hover i.coreGroup_icon,.nav li a:focus i.coreGroup_icon,.nav li.active i.coreGroup_icon{
    background-position: -3px -647px;
}
.nav li a .pageGroup_icon{
    background-position: 0px -2432px;
}
.nav li a:hover i.pageGroup_icon,.nav li a:focus i.pageGroup_icon,.nav li.active i.pageGroup_icon{
    background-position: 0px -2477px;
}
.nav li a .visitGroup_icon{
    background-position: 0px -2305px;
}
.nav li a:hover i.visitGroup_icon,.nav li a:focus i.visitGroup_icon,.nav li.active i.visitGroup_icon{
    background-position: -1px -2105px;
}
.nav li a .effectGroup1_icon{
    background-position: -2px -2363px;
}
.nav li a:hover i.effectGroup1_icon,nav li a:focus i.effectGroup1_icon,.nav li.active i.effectGroup1_icon{
    background-position: -2px -2170px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #404a58;
    background: #fff;
    border-left:0;
    border-bottom:0;
    border-color:#edede8;

}

.homepage-title-tabs .nav li a:focus {
    color: #404a58;
    background: #fff;
    border:1px solid #edede8;
}
.import-title-tabs .nav li a:hover {
    border:0;
}
.nav-tabs>li{
    margin-bottom:0;
}
.nav-tabs>li>a{
    margin-right:0;
    border:0;
}


/*screen 1280*/
@media only screen and (max-width: 1280px) {
    .input{
        margin:0 0 0 5px;
    }
    .input input{
        width:140px;

        padding-left:5px;
    }
    .input .input-hover dd{
        padding:0 5px;
    }
    .input .input-hover {
        width:120px;
    }
    .list li .select .input{
        padding-left:5px;
    }
    .scoll .scoll-wrap{
        width:50%;
    }
    .scoll .datescoll li{
        width:80px;
    }

    .tab .tab-a li a{
        width:110px;
    }
    .label, .icon-pic{
        margin-left:5px;
    }
    .table td{
        padding:8px 6px;
    }
    .list li{
        margin-right:0.7%;
    }
}

.view-border .widgetCalendar{
    right: 0px;
    left: inherit;
}
.table-wrap{
    position: relative;
}
.grace-table{
    min-width: 100%;
    white-space: nowrap;
}

.user-compare{
    float: left;
    width: 100%;
    z-index: 1;
}
.user-compare li{
    float: none;
    width: 100%;
}
#userData #compareIndexDate{
    visibility: hidden;
    width: 0;
    overflow: hidden;
}


#userData .dateshow#compareIndexDate{
    visibility: visible;
    width: 162px;
    overflow: inherit;

}



/*======================引入效果=============================*/
.import-title-tabs .nav-tabs>li.active>a,.import-title-tabs  .nav-tabs>li.active>a:focus,.import-title-tabs  .nav-tabs>li.active>a:hover, .import-title-tabs .nav li a:focus, .import-title-tabs .nav li a:hover{
    /*border: 1px solid transparent;
    border-right: 1px solid transparent;*/
    color: #404a58;
    background: #fff;
    font-weight:normal;
    /* border-top:1px solid #edede8;*/

}

.import-title-tabs .nav {
    background-color: transparent;
    /*border: 1px solid transparent;*/
    /*line-height: 65px;*/
    font-size: 14px;
    height: auto;
    /*font-weight: bolder;*/
    border-left:1px solid #edede8;
    border-right:1px solid #edede8;
}
.import-effect .content{

    padding-top: 1.2%;
    /*margin-top: -1px;*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border:1px solid #edede8;
    border-top: none;
}
.import-effect .nav>li>a{
    padding: 15px 30px;
    border:none;
}
.import-effect .nav-tabs>li{
    /* margin-bottom: -2px;*/
    border-right:1px solid #edede8;
}
.import-effect .newcustomer{
    overflow: hidden;
}
.import-effect .map{
    width:40%; height: 400px; display:inline-block;
}
.import-effect .area{
    width:50%; display:inline-block;height:400px;
    float: right;
}
.import-effect .area table{
    width: 55%; text-align: center;
    /*float: right;*/
}
.import-effect .area .thead{
    font-weight: bold;
}
.import-effect .area tr{
    height: 30px;
    color: darkslategrey ;
}

.table-container {
    width: 100%;
    /*height: 380px;*/
    overflow: scroll;
}
.import-effect .content>div{
    position: relative;

}

.import-effect .content>div.order .area-a, .import-effect .content>div.order .area-b{
    padding-bottom:50px;
}
.import-effect .compare{
    /*margin-top: 45px;*/
    position: relative;
    /*overflow: hidden;*/
}
.import-effect .compare{
    padding: 0px;

}

.import-effect .cmp-icon{
    position:absolute;
    width:38px;
    height:445px;
    border:1px solid #edede8;
    border-top:none;
    background:#f9f9f9;
    top:0;
    left:-24px;
    z-index: 997;
}
/*@media only screen and (min-width: 1366px) and (max-width: 1920px){
    .import-effect .cmp-icon{
        margin-left:-7px;
    }
}*/
.import-effect .cmp-icon span{
    width:15px;
    height:235px;
    top:30%;
    position:absolute;
    left:12px;
    color:#404a58;
    font-weight:bold;
    display:block;
}
.import-effect .compare>i{
    position: absolute;
    display: inline-block;
    border-right: 1px solid #edede8;
    height: 100%;
    left: 50%;
    top: 50px;
}
.import-effect .flowsource>div{
    height: 500px;
}
.import-effect .compare  .area-a{
    float: left;
    width: 50%;
    overflow: hidden;
    position: relative;
    height: 445px;
    border-bottom: 1px solid #EDEDE8;
}
.import-effect .compare .area-a .compareClass{
    padding:0 4% 0 1%;
    border: 1px solid #EDEDE8;
    border-top: none;
    padding-bottom: 45px;
    border-bottom: none;
}
.import-effect .compare  .area-b{
    float: right;
    width: 50%;
    position: relative;
    height: 445px;
    border-bottom: 1px solid #EDEDE8;
}
.import-effect .compare .table-content{
    overflow-x: auto;
    height: 395px;
}
.import-effect .compare .newcustomer .table-content{
    height: 345px;
}
.import-effect .compare .flowsource .area-a,.import-effect .compare .flowsource .area-b{
    height: 528px;
}


.import-effect .compare .area-b .compareClass{
    padding:0 1% 0 4%;
    border: 1px solid #EDEDE8;
    border-top: none;
    padding-bottom: 45px;
    border-bottom: none;
}

.import-effect .compare .flowsource .area-a .compareClass, .import-effect .compare .flowsource .area-b .compareClass{

}

.import-effect .compare .area-b table{
    float: left;
    width: 40%;
}

.import-effect .compare  .info{
    height: 40px;
    width: 100%;
    line-height: 53px;
}
.import-effect .compare h6.left{
    text-align: center;
    font-weight: bold;
    color: #414a59;
    font-size:18px;
    line-height: 53px;
}
.import-effect .compare h6.right{
    text-align: center;
    font-weight: bold;
    color: #414a59;
    font-size:18px;
    line-height: 53px;
}

.import-effect table{
    table-layout:fixed;
}
.import-effect .compare table{
    table-layout:auto;
}
.import-effect tr th:nth-child(1), .import-effect tr td:nth-child(1),

.import-effect .grace-table .grace-table-tr .grace-table-td:nth-child(1) {

    overflow: hidden;
    word-wrap:break-word;
    text-align: left !important;
}

.import-effect tr th, .import-effect tr td  {
    width: 180px;
    text-align: right !important;
    /*padding: 0 10px !important;*/
}
/*.import-effect tr td{
    padding: 0 10px !important;
 }*/
.grace-padding-10  .grace-table-tr td{
    padding: 0 10px;
}


.import-effect .compare .area-b tr th, .import-effect .compare .area-a tr th,
.import-effect .compare .area-b tr td, .import-effect .compare .area-a tr td{
    width: 100px;
    /*text-align: right !important;*/
    overflow: hidden;
}
.import-effect .grace-table .grace-table-tr .grace-table-td:nth-child(1) tsc{
    text-align: left !important;
}
.import-effect .grace-table .grace-table-tr .grace-table-td tsc{
    text-align: right;
}
/* 渠道引入用户效果 */
.import-effect .newcustomer table{
    width:  250px;
}
.import-effect .newcustomer  tr th:nth-child(1),
.import-effect .newcustomer .grace-table .grace-table-tr .grace-table-td:nth-child(1){
    text-align: right !important;
    width: 50px !important;
}
/* 地域订单品类分布；渠道引入订单效果  */
.import-effect .order-dis tr th,.import-effect .order-dis tr td,
.import-effect .order tr th,.import .order tr td
{
    width: 20% !important;
}
/* 品类购买用户地狱分析 */
.import-effect .buyuser .map{
    width: 35%;
}
.import-effect .buyuser .area.swidth{
    width: 62%;
}
.import-effect .buyuser tr th,.import .buyuser tr td{
    width: auto !important;
    overflow: hidden;
}
/*.import-effect .buyuser  tr th:nth-child(1),
    .import-effect .buyuser .grace-table .grace-table-tr .grace-table-td:nth-child(1){
    text-align: right !important;
    width: 30px !important;
}*/
.import-effect .buyuser  tr th:nth-last-child(1),
.import-effect .buyuser .grace-table .grace-table-tr .grace-table-td:nth-last-child(1)
{
    width: 165px !important;
}

.import-effect .buyuser  tr th:nth-last-child(2),
.import-effect .buyuser .grace-table .grace-table-tr .grace-table-td:nth-last-child(2){
    width: 120px !important;
}
.import-effect .category tr th,.import .category tr td{
    width: auto !important;
}
.import-effect .category  tr th:nth-child(1),
.import-effect .category .grace-table .grace-table-tr .grace-table-td:nth-child(1){
    text-align: right !important;
    width: 100px !important;
}
.import-effect .flowsource,.import-effect .flowsource .area-a,
.import-effect .flowsource .area-b, .import-effect .order,.import-effect .order .area-a,
.import-effect .order .area-b, .import-effect .sales,
.import-effect .sales .area-a,.import-effect .sales .area-b, .import-effect .compare .area-a,
.import-effect .compare .area-b, .import-effect .table-wrap{
    /*padding-bottom: 50px;*/
}
/*.sales table th:nth-child(1){
    width: 12%;
}*/
.import-effect .area.area-fright{
    float: right;
}
.import-effect .table-wrap{
    height: auto;

}
/*内容页*/
.true-tab-selected{
    background: #ffffff;
}
.false-tab-selected{
    background: #D1D1D1;
}


.indexNoData{
    position: absolute;
    font-size: 25px;
    font-family: 'MICROSOFT YAHEI';
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 300px;
    background-color: #fff;
}
.grace-dimension-0 dd a{
    color:#898788
}
.grace-dimension-0 dd.checked a{
    color: white;
}
.grace-dimension-2 ul li a,
.grace-dimension-4 ul li a{
    color: #898788;
    float: left;
}
.grace-dimension-2 ul li.checked a,
.grace-dimension-4 ul li.checked a{
    color: #ffffff;
}
.grace-dimension-dropdown i{
    top: -2px;
}

.import-title-tabs .nav {
    border-bottom: solid 1px #edede8;
}
#rankDiv .nav-tabs .ng-isolate-scope .active {
    border-top:solid 1px #edede8;
    border-left:solid 1px #edede8;
    border-right:solid 1px #edede8;
}
#rankDiv .tab-content {
    display: none;
}
.truediv-tab-show {
    display: block;
}
.falsediv-tab-show {
    display: none;
}
.truesite-tab-show {
    display: block;
}
.falsesite-tab-show {
    display: none;
}
a .myselfA{
    text-decoration: underline;
    color: #00F!important;
}
.showLandPage {
    display: '';
}
.hideLandPage {
    display: none
}
/*#rankTable table {
    table-layout: fixed;
}*/
#rankTable table th:first-child {
    width: 5%;
}
#rankTable table th:nth-child(2) {
    width: 25%;
}
#rankTable table td {
    white-space:nowrap;
    overflow:hidden;
}
.vision-wrap .title{
    padding: 5px 0 0;
    /*margin: 0px 1%;*/
}

.grace-table .search-wrapper i{
    cursor: pointer;
}

.import-effect1 .grace-table .grace-table-tr .grace-table-td:nth-child(2) tsc{
    text-align: left !important;
}
.import-effect1 .grace-table .grace-table-tr .grace-table-td tsc{
    text-align: right;
}
.import-effect1 tr th:nth-child(2), .import-effect1 tr td:nth-child(2),

.import-effect1 .grace-table .grace-table-tr .grace-table-td:nth-child(2) {

    text-align: left !important;
}
.import-effect1 tr th, .import-effect1 tr td  {
    text-align: right !important;
}
.import-effect1 .grace-table .grace-table-tr .grace-table-td:nth-child(1) tsc{
    text-align: left !important;
}
.import-effect1 tr th:nth-child(1), .import-effect1 tr td:nth-child(1),

.import-effect1 .grace-table .grace-table-tr .grace-table-td:nth-child(1) {

    text-align: left !important;
}
#siteInner table th:nth-child(2), #siteInner table th:nth-child(3) {
    width: 130px;
}
#siteOuter table th:nth-child(2), #siteOuter table th:nth-child(3) {
    width: 130px;
}
#downStream table th:nth-child(2), #downStream table th:nth-child(3) {
    width: 130px;
}

#siteInner .grace-table .grace-table-th:last-child, #siteOuter .grace-table .grace-table-th:last-child,#downStream .grace-table .grace-table-th:last-child{
    padding: 12px 10px;
}

#homepageChart .table-container{
    height: 372px!important;
}
#userDateCtrl, #importEffect{
    position:relative;
    height:auto!important;
}
.import-effect .content>div.mask,.import-effect .content>div.loading{
    position: absolute;
}
/*table css buy ym*/
.grace-padding-10 .grace-table-tr td{
    padding: 0 10px!important;
}
.import-effect .area .grace-padding-10 tr th:nth-child(1), .import-effect .area .grace-padding-10 .grace-table-tr td:nth-child(1){
    padding-left: 20px!important;

}
.import-effect .area .grace-padding-10 .grace-table-tr td:nth-last-child(1),  .import-effect .area .grace-padding-10 tr th:nth-last-child(1){
    padding-right: 10px!important;
}
.import-effect .category tr th:nth-child(1), .import-effect .category .grace-table .grace-table-tr .grace-table-td:nth-child(1), .import-effect .newcustomer tr th:nth-child(1), .import-effect .newcustomer .grace-table .grace-table-tr .grace-table-td:nth-child(1){
    text-align:left!important;
}
.nav-tabs>li{
    margin-bottom:0;
}
.nav-tabs>li>a{
    margin-right:0;
    border:0;
    border-radius:0;
    padding:12px 50px;
}

.vision-title-tabs .nav-tabs>li.active>a, .vision-title-tabs .nav-tabs>li.active>a:focus, .vision-title-tabs .nav-tabs>li.active>a:hover, .vision-title-tabs .nav li a:focus, .vision-title-tabs .nav li a:hover, .vision-title-tabs .nav>li>a{
    border-right:1px solid #edede8;
}
.vision-title-tabs .nav{
    border-bottom:0;
}
.sectionMoreSelect{
    padding: 3px 0 3px 10px;
}
.sectionMoreSelect label.sectionLabel{
    width: 80px;
    float: left;
    color: #5F5F5F;
    padding: 5px 0 5px 5px;
    margin: 5px 0;
}

.found-title-tabs .nav-tabs>li.active>a, .found-title-tabs .nav-tabs>li.active>a:focus, .found-title-tabs .nav-tabs>li.active>a:hover, .found-title-tabs .nav li a:focus, .found-title-tabs .nav li a:hover, .found-title-tabs .nav>li>a{
    border-top:1px solid #edede8;
}
.found-title-tabs .nav{
    border-right:0;
}


.inner-out-button{
    float:right;
    border: 1px solid #EFEFEB;
    border-radius: 3px;
}

.inner-out-button{
    float: right;
    border: 1px solid #EBEBE5;
    border-radius: 3px;
    margin: 5px 20px;

}

.inner-out-button a{
    display: inline-block;
    padding: 10px 20px;
    color: #5f5f5f;
}
.inner-out-button a:nth-child(1){
     border-top-left-radius: 3px;
     border-bottom-left-radius: 3px;
 }

.inner-out-button a:nth-child(2){
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.inner-out-button a.on{
    background-color: #3CAEE8;
    color: #fff;
}


.import-effect .content.compare{
    border:none;
}


.import-effect .compare .sales .area-a,.import-effect .compare .sales .area-b{
    height: 550px;
}

.import-effect .compare .browser-rank .area-a,.import-effect .compare .browser-rank .area-b{
    height: 475px;
}

.import-effect .compare .order-dis .area-a,.import-effect .compare .order-dis .area-b{
    height: 483px;
}

.sales .table-content{
    overflow: auto;
    height: 452px;
}

.buyuser .table-content, .category .table-content{
    overflow: auto;
    height: 343px;
}

.sales .area-a, .sales .area-b{
    padding-bottom: 15px!important;
}

.import-effect .compare  .buyuser .table-content, .import-effect .compare  .category .table-content{
    height: 350px;
}
.import-effect .compare .browser-rank .table-content, .import-effect .compare .order-dis .table-content{
    height: 380px;
}
.order-dis .table-content{
    height: 370px;
    overflow: auto;
}


#singleuserdata.pieCompre li{
    width: 100%;
}
.pieCompre {
    width: 50%;
    float: left;
    display: block!important;
}

#userDateCtrl{
    border: 1px solid #EDEDE8;
}

#singleuserdata.pieCompre li{
    border: 1px solid #EDEDE8;
    border-top: none;
}
.user-attr .pieCompre li{
    border-style: none !important;
    border-bottom: 1px solid #EBEBE5 !important;
}
.isCompare_0720{
    width: 50%;
    float:left;
}
.flowsource .isCompare_0720 .area-a, .flowsource .isCompare_0720 .area-b{
    width: 100%;
}

.flowsource .isCompare_0720 .area-a .table-content{
    padding-right: 5%;
}

.flowsource .isCompare_0720 .area-b .table-content{
    padding-left: 5%;
}


/*覆盖grid组件样式*/
.grace-grid-container.cell-content, .grace-grid-container .grace-grid-body .grace-grid-cell .cell-content {
    font-weight: 100;
    height: 41px!important;
    line-height: 41px!important;
}
.grace-grid-container .grace-grid-header .cell-content {
    font-weight: 100;
}

.grace-grid-header thead tr {
    background: -moz-linear-gradient(top, white, white)!important;
    background: -webkit-linear-gradient(top, white,white )!important;
    background: -o-linear-gradient(top, white, white)!important;
}
.grace-grid-header thead tr:nth-child(1) th{
    text-align: center!important;
}
.grace-grid-header thead tr:nth-child(2) th{
    text-align: right!important;
}
.grace-grid-container .grace-grid-wrapper {
    height: auto!important;
    overflow-y: hidden;
}
.grace-grid-wrapper td {
    border-color: #ccc!important;
}
.grace-grid-container .grace-grid-header .grace-grid-header-cell {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.grace-grid-container .grace-grid-body .grace-grid-cell {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.grace-grid-container .grace-grid-body tbody tr:nth-child(2n) {
    background-color: #f9f9f9;
}
.grace-grid-container .grace-grid-body tbody tr:hover {
    background-color: #e2ebf8!important;
}

.grace-grid-wrapper {
    color: #777!important;
}
.grace-grid-container .grace-grid-body .grace-grid-cell .cell-content button {
    color: blue!important;
}
.grace-grid-container .grace-grid-body .grace-grid-cell {
    text-align: right;
}

.grace-grid-container .grace-grid-body tr td:nth-child(1) {
    text-align: center;
}
.grace-grid-container .grace-grid-body .grace-grid-cell .cell-content button .nav-table-button{
    color: blue;
}
.grace-grid-container .grace-grid-body .grace-grid-cell .cell-content .precent-div {
    background-color: #3caee8;
    height: 30px;
    margin-top: 6px;
    line-height: 30px;
}
.grace-grid-container .grace-grid-body tbody tr:nth-child(2n+1) {
    background-color: #fff;
}
.grace-grid-container .grace-grid-body .grace-grid-cell .cell-content .precent-label {
    position: absolute;
    right: 4px;
    top: 2px;
}
.grace-grid-container {
    border: none;
}

 .import-effect tr td:nth-child(1), .import-effect tr td:nth-child(1){
    text-align: left!important
 }

 .version-number{
     padding-right: 50px;
     position: relative;
 }
.version-number .grace-dimension-0 dd{
    padding: 0;
}
.version-number .grace-dimension-0 dd>a{
    padding: 5px 10px;
}
.version-number>a{
    position: absolute;
    color: #428bca;
    right: 0;
    top: 13px;
}
.userdata.pieCompre >li > h2{
    font-size: 14px;
    color: #263E56;
    margin: 11px 0 29px 19px;
}
.userdata li h6{
    width: 96px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #263E56;
    background: #E6E6E6;
    margin: 0 auto;
    font-weight: normal;
}
.user-attr .pieCompre .userdata li{
    padding-top: 55px;
}
.user-attr .user-compare li .target{
    border-style: none;
}
.user-attr .user-compare li{
    border-left-style: none;
}