@function rem ($value){
    @return $value/(750px/16px/1rem);
}

*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(0,0,0,0);}
ul{list-style: none;}
img{vertical-align: top;}
body,html{color:#333;font-family:Tahoma,Arial,Roboto,'Droid Sans','Helvetica Neue','Droid Sans Fallback','Heiti SC',sans-self;
}
a{text-decoration: none;color:#333;}
.full-size img{width: 100%;}
.f-wrap{font-size: 14px;}
.vam{vertical-align: middle;}
.hidden{overflow: hidden;}
.rel{position: relative;}
.abs{position: absolute;}
.fl{float: left;}
.fr{float: right;}

.load-img{background-image: url(http://img11.360buyimg.com/cms/jfs/t853/64/222820902/5860/54fc0ad5/550bc4d5N2164a1f4.gif);background-repeat: no-repeat;background-position: center center;display: block;}
.color-red{color:#f02b2b;}
.bg-white{background-color: #fff;}
.db{display: block;}
.dib{display: inline-block;}
.tac{text-align: center;}
.pt10{padding-top: rem(10)}
.pd10{padding: rem(10)}
.pl10{padding-left: rem(10)}
.pr10{padding-right: rem(10)}
.pd20{padding: rem(20)}
.mg10{margin: rem(10)}
.mt5{margin-top: rem(5)}
.mt10{margin-top: rem(10)}
.mb10{margin-bottom: rem(10)}
.ml10{margin-left: rem(10)}
.mr10{margin-right: rem(10)}

.ellipsis{text-overflow:ellipsis;white-space: nowrap;overflow: hidden;display: block;}
.scrolling{overflow-x:auto;-webkit-overflow-scrolling: touch;white-space: nowrap;}
.row1{height: rem(36);}
.mh200{min-height: rem(200);}

.fs26{font-size: rem(26);}
.fs30{font-size: rem(30);}
.fs36{font-size: rem(36);}

[class^="f-column"]{
	font-size: 0;
	&.colp10{margin-right: rem(-10);}
	&.colp20{margin-right: rem(-20);}
	& .item-wrap{overflow: hidden;}
	&.colp10 .item-wrap{margin-right: rem(10);margin-bottom: rem(10);}
	&.colp20 .item-wrap{margin-right: rem(20);margin-bottom: rem(20);}
	& .f-item{display: inline-block;font-size: 14px;overflow: hidden;vertical-align: top;}
	& .f-pic img{width: 100%;}
}

.f-column-1 .f-item{width: 100%; }
.f-column-2 .f-item{width: 50%; }
.f-column-3 .f-item{width: 33.33%; }
.f-column-4 .f-item{width: 25%;}

.f-column-2-4 {
	& .f-item:nth-child(1),& .f-item:nth-child(2),& .f-item:nth-child(3),& .f-item:nth-child(4){width: 50%; }
	& .f-item{width: 25%;}
}

body{background-color: #8023a8;}
.floor{overflow: hidden;}
.floor-tit img{width: 100%;}
.f-column-2 .f-price{overflow: hidden;}
.f-btn-buy{background: url(../img/zq_18.png) no-repeat;background-size: 100% auto;width: rem(135);height: rem(48);display: inline-block;}

.f-coupon{
	.pic{display: none;}
	& .normal .pic_n,& .success .pic_s,& .over .pic_o{display: block;}
}

.hall{
	& .f-column-2-4{padding: rem(25) rem(20) rem(20) rem(20)}
	.f-item:first-child{margin-left: rem(-20);margin-right: rem(20);}
	.f-item:first-child .item-wrap{margin-right: 0;}
}

.bg1{background-color: #3e78ee;}
.bg2{background-color: #309fff;}
.bg3{background-color: #6a9ef4;}
.bg4{background-color: #fa4973;}
.bg5{background-color: #ed174c;}
.bg6{background-color: #fd9532;}
.bg7{background-color: #ff764a;}
.bg8{background-color: #79bd46;}
.bg9{background-color: #F4D733;}

.floor-nav{min-height: rem(84);}
.floor-nav .fixed{position: fixed;}
.float-nav{
	&{top: 0;left: 0;width: 100%;}
	& .top-bar{background-color: #6e0d98;line-height: rem(88);padding-right: rem(96);position: relative;overflow: hidden;height: rem(88);border-bottom: 1px solid #6e0d98;}
	& .nav-list-f li{margin: 0 rem(15);position: relative;}
	& a{color: #fff;}
	& .cur a{color:#ffe615;}
	& .nav-list-f .cur a:after{content:"";display: block;position: absolute;width: 100%;height: rem(6);background-color: #ffe615;left: 0;bottom: 0;}
	& .i-arrow{background:url(../img/arrow.png) no-repeat;width: rem(29);height: rem(15);display: block;background-size:rem(62) rem(16);}
	& .btn-nav{position: absolute;right: 0;top: 0;width: rem(96);height: 100%;background-color: #6e0d98;display: block;box-shadow: rem(-8) 0 rem(8) #5f0b83;
		.i-arrow{margin:rem(38) 0 0 rem(33);}
	}
	&.active .nav-list-s{display: block;}
	&.active .i-arrow{background-position: right 0;}
	& .nav-list-s{
		&{background-color: #8621b1;padding: rem(20) 0 0 rem(20);font-size: 0;display: none;}
		& .nav-s{background-color: #6f0f98;font-size: rem(24);height: rem(48);line-height: rem(48);padding: 0 rem(30);border-radius: rem(30);margin: 0 rem(25) rem(20) 0}
	}
}


.f-banner .bg{padding-bottom: rem(20);}
.f-coupon{ 
	&{bottom: 0;left: 0;width: 100%;}
	& ul{line-height: rem(225);width: 92%;height: 100%;margin-left:-45.5%;top: 0;left: 50%;}
	& img{vertical-align: middle;}
}

.f-sigui{
	& .floor-con li{opacity: 0.6;transition:all 0.8s;}
	& .floor-con li.active{opacity: 1;}
}

.head-pic {left: 0;top: rem(10);width: 49%;}

[class^="type-"]{
	&{margin-right: rem(-10);font-size: 0;}
	& li{display: inline-block;}
	& .item-wrap{margin-right: rem(10);margin-bottom: rem(10);}
}
.ad-part .type-2 {
	& li{width: 50%;}
}
.ad-part .type-3 {
	& li{width: 50%;}
	& li:first-child{width: 100%;}
}


.clearfix{
	zoom: 1;
	&:after{
		display: block;
		content: '';
		height: 0;
		clear: both;
		overflow: hidden;
	}
}
.floor-tit.ms{
	position: relative;
	margin: rem(10) 0;
	.link-more{
		position: absolute;
		right: 0;
		bottom: 0;
		display: block;
		width: rem(186);
		height: 100%;
		text-indent: rem(-9999);
	}
}
.ms-tabnav{
	@extend .clearfix;
	width: rem(750);
	li{
		position: relative;
		float: left;
		width: rem(150);
		height: rem(84);
		line-height: 1.2;
		text-align: center;
		color: #ffd83a;
		background-color: #710d9c;
		&:before{
			position: absolute;
			left: 0;
			top: rem(12);
			display: block;
			content: '';
			width: 1px;
			height: rem(62);
			background: url('../img/line.png') no-repeat center center;
			background-size: 100% 100%;
			opacity: 0.6;
		}
		&.current{
			color: #fff;
			background-color: #a936db;
			&:before{
				display: none;
			}
		}
		&.current+li{
			&:before{
				display: none;
			}
		}
		&:first-child{
			&:before{
				display: none;
			}
		}
		.time{
			margin-top: rem(10);
			font-size: rem(32);
		}
		.status{
			font-size: rem(20);
		}
	}
}
.ms-tabctn{
	width: rem(750);
	height: rem(374);
	padding: rem(16) 0 rem(20) 0;
	background-color: #8c29b7;
}
.ms-goods{
	@extend .clearfix;
	margin-left: rem(18);
	li{
		float: left;
		width: rem(256);
		height: rem(374);
		overflow: hidden;
		.tag{
			position: absolute;
			right: 0;
			top: 0;
			display: inline-block;
			padding: rem(6) rem(10);
			font-size: rem(24);
			font-weight: bold;
			opacity: 0;
			&.tag-iscoming{
				color: #fff;
				background-color: #d755ff;
			}
			&.tag-isgoing{
				color: #e52338;
				background-color: #ffdf5a;
			}
			&.tag-saleout{
				color: #fff;
				background-color: #fb1b2a;
			}
		}	
		&.iscoming{
			.tag-iscoming{
				opacity: 1;
			}
		}
		&.isgoing{
			.tag-isgoing{
				opacity: 1;
			}
		}
		&.saleout{
			.tag-saleout{
				opacity: 1;
			}
		}
		.module{
			display: block;
			width: rem(244);
			background-color: #b13fe3;
		}
		.pic{
			position: relative;
			width: rem(244);
			height: rem(244);
			overflow: hidden;
			img{
				width: 100%;
				height: auto;
			}
		}
		.info{
			padding: rem(12);
			color: #fff;
			.name{
				font-size: rem(24);

				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				word-wrap: break-all;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			.promPrice{
				padding: rem(2) 0;
				font-size: rem(34);
			}
			.jdPrice{
				font-size: rem(22);
				opacity: 0.8;
			}
		}
	}
}
.ms-tabctn-unit{
	width: rem(750);
	margin-bottom: rem(50);
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	&.current{
		display: block !important;
	}
}


.JDNavTab{
	position: relative;
	top: 0;
	left: 0;
	right:0;
	background-color: #6e0d98;
	z-index: 1;
	display: none;
}
.JDNavTab,.JDNavTab *{
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.JDNavTab,.JDNavTab_nav_bd,.JDNavTab_list li{
	height: 50px;
}
.JDNavTab ul{
	list-style: none;
}
.JDNavTab a{
	color: #fff;
	display:block;
	text-decoration:none;
}

.JDNavTab_nav {
	position:absolute;
	left:0;
	top:0;
	width:86.67%;
	height: 100%;
	background-color: #6e0d98;
	overflow: hidden;
	z-index: 1;
}

.JDNavTab_nav_bd {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
.JDNavTab_nav_bd ul {
	width: 100%;
	height:100%;
}
.JDNavTab_nav_bd li {
	height: 100%;
	float: left;
	line-height: 50px;
	font-size: 14px;
	overflow: hidden;
	text-align: center;
}
.JDNavTab_nav_bd li a{
	width:100%;
	height:100%;
}
.JDNavTab_nav_bd .JDNavTab_cur a{
	position: relative;
	color:#ffe615;
}

.JDNavTab_nav_bd .JDNavTab_arrow{
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 3px;
    background-color: #ffe615;
    overflow: hidden;
    z-index: 10;
}


.JDNavTab_list_hd{
	position: absolute;
	display: none;
	width:100%;
	height: 100%;
	line-height: 50px;
	font-size: 14px;
	font-weight: bold;
	color: rgb(132,134,137);
	background-color: #6e0d98;
	padding-left: 15px;
}

.JDNavTab_btn{
	position: absolute;
	display: none;
	right:0;
	top:0;
	height:100%;
	width:14%;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #7611a2;
	z-index: 1;
}
.JDNavTab_btn span{
	position: absolute;
	display: block;
	width:14px;
	height:14px;
	top:50%;
	left:50%;
	background:url(../img/arrow.png) no-repeat;width: rem(29);height: rem(15);display: block;background-size:rem(62) rem(16);
	-webkit-transform-origin:50% 50%;
    transform-origin:50% 50%;
    -webkit-transform:translate(-50%,-50%) rotate(0deg);
    transform:translate(-50%,-50%) rotate(0deg);
    -webkit-transition:all 0.5s;
    transition:all 0.5s;
}

.JDNavTab_list{
	position: absolute;
	top:50px;
	left:0;
	right:0;
	background-color: rgba(134,33,177,0.95);
	overflow: hidden;

    -webkit-transition:all .3s;
    transition:all .3s;
    z-index: 0;
    height: 0;
}

.JDNavTab_list ul{
	display: block;
	width:100%;
	height: 100%;
}
.JDNavTab_list li{
	float: left;
	line-height: 39px;
	font-size: 14px;
	overflow: hidden;
	text-align: center;
	margin-top:rem(20);
	height: 39px;
}
.JDNavTab_list li a{background-color: #76149f;border-radius: rem(25);line-height: 2;  margin: 0 rem(10);}
.JDNavTab_list .JDNavTab_cur a{
	color:#ffe615;
}

.JDNavTab_mask{
	position: fixed;
	display: none;
	top:50px;
	left:0;
	right:0;
	bottom:0;
	background-color: rgb(25,25,25);
	opacity: 0;
	-webkit-transition:all 0.5s;
    transition:all 0.5s;
}
.JDNavTab.fixed{
	left: 0;
	top: 0;
	position: fixed;
}
@media screen and (min-width:505px){
	.JDNavTab_list li{
		font-size: 18px;
	}
}


@media screen and (min-width:490px){
	.JDNavTab_nav_bd li {
		font-size:18px;
	}
}

.toast{
    position:fixed;
    background-color:#000;
    top:50%;
    margin-top:-40px;
    margin-left:-90px;
    left:50%;
    border-radius:5px;
    width:150px;
    text-align:center;
    padding:15px;
    opacity:.9;
    color:#fff;
    z-index:999;
}
.toast div{
    font-size: 0.8rem;
}