/*-start:自定义样式-*/
.padt_p_content{padding-bottom:0%;width:0%;}
.padt_p_icon{
	background:none;
	background-size:0%;
	margin-top:0em;
	padding-bottom:0%;
	width:0%;
}
.padt_p_icon_coupon{background-position:0% 0%;}
.padt_p_icon_fail{background-position:0% 0%;}
.padt_p_icon_login{background-position:0% 0%;}
.padt_p_icon_entity{background-position:0% 0%;}
.padt_p_icon_miss{background-position:0% 0%;}
.padt_p_title{
	color:#000;
	font-size:1em;
	font-weight:bold;
	line-height:1em;
	margin-top:0em;
}
.padt_p_subtitle{
	color:#000;
	font-size:1em;
	font-weight:bold;
	line-height:1em;
	margin-top:0em;
}
.padt_p_pack_wrap{margin-top:0em;}
.padt_p_pack{max-height:auto;}
.padt_p_pack_item{
	padding-bottom:0%;
	width:0%;
}
.padt_p_pack_item_val{
	color:#000;
	font-size:1em;
	font-weight:bold;
	left:0%;
	top:0%;
}
.padt_p_pack_item_cond{
	color:#000;
	font-size:1em;
	font-weight:bold;
	left:0%;
	top:0%;
}
.padt_p_pack_item_cate{
	color:#000;
	font-size:1em;
	font-weight:bold;
	left:0%;
	top:0%;
}
.padt_p_pack_item_tips{
	color:#000;
	font-size:1em;
	font-weight:bold;
	left:0%;
	top:0%;
}
.padt_p_btns{margin-top:0em;}
.padt_p_btn{
	background:none;
	background-size:0%;
	margin:0 0%;
	padding-bottom:0%;
	width:0%;
}
.padt_p_btn:nth-last-child(even){background-position:0% 0%;}
.padt_p_btn:nth-last-child(odd){background-position:0% 0%;}
.padt_p_btn > .padt_p_btn_txt{background:none;background-size:0%;}
.padt_p_btn_share > .padt_p_btn_txt{background-position:0% 0%;}
.padt_p_btn_home > .padt_p_btn_txt{background-position:0% 0%;}
.padt_p_btn_login > .padt_p_btn_txt{background-position:0% 0%;}
.padt_p_btn_go > .padt_p_btn_txt{background-position:0% 0%;}
.padt_p_btn_coupon > .padt_p_btn_txt{background-position:0% 0%;}
.padt_p_btn_replay > .padt_p_btn_txt{background-position:0% 0%;}
.padt_p_prizes_wrap{
	background:none;
	background-size:0%;
	margin-top:0em;
	padding-bottom:0%;
	width:0%;
}
.padt_p_prizes{
	bottom:0%;
	left:0%;
	padding-bottom:0%;
	right:0%;
	top:0%;
}
.padt_p_prize{margin-left:0px;width:0%;}
.padt_p_tips_wrap{
	color:#000;
	font-size:1em;
	line-height:1em;
	margin-top:.5em;
	width:0%;
}
.padt_p_tips{}
.padt_p_link_wrap{
	color:#000;
	font-size:1em;
	font-weight:bold;
	line-height:1em;
	margin-top:0em;
}
.padt_p_link{}
/*-end:自定义样式-*/
$fontSize: 20;
@function rem($px) {
    @return $px / $fontSize * 1rem;
}

.padt_p_overlay{
	background: none;
}


.padt_p_type_fail{
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	height: 100%;

	.padt_p_content{
		width: 100%;
		height: 100%;

		.padt_p_title{
			width: rem(595);
			height: rem(459);
			background: url('//img13.360buyimg.com/cms/jfs/t6847/330/1455601544/20042/e895e3ab/5981adb4Na4c78d0f.png') center center no-repeat;
			background-size: 100% 100%;
			margin: rem(65) auto;
		}

		.padt_p_btns .padt_p_btn_go{
			background-image: url('//img13.360buyimg.com/cms/jfs/t5833/154/8975072761/4814/15d30568/5981ada2Nc56a1d96.png');
			width: rem(370);
			height: rem(131);
		}
	}
}
.padt_p_type_lose{
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	height: 100%;

	.padt_p_content{
		width: 100%;
		height: 100%;

		.padt_p_title{
			width: rem(552);
			height: rem(390);
			background: url('//img20.360buyimg.com/cms/jfs/t7024/100/1448198743/16943/5e203382/5981adb3Naff042dc.png') center center no-repeat;
			background-size: 100% 100%;
			margin: rem(65) auto;
		}
	}
	.padt_p_btns .padt_p_btn_go{
		background-image: url('//img13.360buyimg.com/cms/jfs/t5833/154/8975072761/4814/15d30568/5981ada2Nc56a1d96.png');
		width: rem(370);
		height: rem(131);
	}
}
.padt_p_type_fail .padt_p_subtitle{
	display: none;
}
.loginBack{
	.padt_p_type_fail{
		.padt_p_title{
			background-image: url('//img13.360buyimg.com/cms/jfs/t6121/233/8300960817/14040/550d3f2a/59881f0bN655af1b1.png');
		}
		.padt_p_btns .padt_p_btn_go{
			background-image: url('//img13.360buyimg.com/cms/jfs/t5833/154/8975072761/4814/15d30568/5981ada2Nc56a1d96.png');
			width: rem(370);
			height: rem(131);
		}

		.padt_p_subtitle{
			display: block;
			position: absolute;
			font-size: rem(34);
			color: #ffc800;
			top: rem(220);
			left: rem(375);
			text-align: left;
			line-height: rem(40)
		}
	}
}
.padt_p_btns{
	margin-top: rem(200);

	.padt_p_btn_go{
		width: rem(427);
		height: rem(127);
		background: url('//img14.360buyimg.com/cms/jfs/t5773/99/8959901263/5971/64b85909/5981adb0Nfa55dd43.png') 0 0 no-repeat;
		background-size: 100% 100%;
		display: block;
		margin: auto;
	}
	.padt_p_btn_share{
		width: rem(166);
		height: rem(100);
		line-height: rem(100);
		span{
			text-decoration: underline;
		}
	}
	.padt_p_btn_replay{
		width: rem(166);
		height: rem(100);
		line-height: rem(100);
		span{
			text-decoration: underline;
		}
	}
}
.padt_p_goods{
	position: absolute;
	width: rem(659);
	top: rem(970);
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);

	.padt_p_hide_btn{
		width: rem(193);
		height: rem(193);
		display: inline-block;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% 100%; 

		&+a{
			margin-left: rem(40);
		}
	}
}

.padt_p_type_login{
	position: absolute;
	z-index: 9999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);

	.padt_p_content{
		width: rem(597);
		height: rem(663);
		position: absolute;
		top: 50%;
		left: rem(75);
		-webkit-transform: translateY(-50%);
		background: url('//img13.360buyimg.com/cms/jfs/t5740/57/9011229372/21327/d5c6ef1/5981adb3N94d61ac8.png') 0 0 no-repeat;
		background-size: 100% 100%;
	}

	.padt_p_btn_login{
		width: rem(210);
		position: absolute;
		height: rem(100);
		left: rem(130);
		top: rem(490);
	}

	.padt_p_btn_hide{
		width: rem(210);
		position: absolute;
		height: rem(100);
		left: rem(360);
		top: rem(490);
	}

	.padt_p_goods{
		display: none;
	}
}

.padt_p_type_retry{
	position: absolute;
	z-index: 9999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);

	.padt_p_content{
		width: rem(536);
		height: rem(651);
		position: absolute;
		top: 50%;
		left: rem(110);
		-webkit-transform: translateY(-50%);
		background: url('//img20.360buyimg.com/cms/jfs/t5890/307/8960089288/20959/d9f60607/5981adb3N814c4b78.png') 0 0 no-repeat;
		background-size: 100% 100%;
	}

	.padt_p_btn_retry{
		width: rem(265);
		position: absolute;
		height: rem(100);
		left: rem(130);
		top: rem(460);
	}

	.padt_p_goods{
		display: none;
	}
}

.padt_p_type_coupon{
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	height: 100%;

	.padt_p_content{
		width: 100%;
		height: 100%;
	}

	.padt_p_title{
		width: rem(595);
		height: rem(446);
		background: url('//img13.360buyimg.com/cms/jfs/t5959/292/7922950879/14326/8a3d1611/5981adb3N120ca97a.png') 0 0 no-repeat;
		background-size: 100% 100%;
		margin: rem(65) auto;
	}
	.padt_p_subtitle{
		text-align: center;
		font-size: rem(24);
		color: #8c8c8c;
		line-height: rem(30);
		margin-top: rem(110);
	}

	.padt_p_btns{
		margin-top: rem(40);
	}

	.padt_p_pack_wrap{
		position: absolute;
		top: rem(450);
		left: rem(167);
		width: rem(426);
		height: rem(157);
		background: url('//img11.360buyimg.com/cms/jfs/t6097/15/7727117610/1366/492f2b46/5981adb3N4041b74e.png') 0 0 no-repeat;
		background-size: 100% 100%;

		.padt_p_pack,
		.padt_p_pack_item{
			width: 100%;
			height: 100%;
		}

		.padt_p_pack_item_val{
			font-size: rem(60);
			position: absolute;
			top: rem(53);
			left: rem(78);
		}

		.padt_p_pack_item_cond{
			font-size: rem(24);
			position: absolute;
			top: rem(48);
			left: rem(216);
			text-align: left;

			span{
				color: #0088db;
				margin-left: 2px;
				margin-right: 2px;
			}
		}
		.padt_p_pack_item_cate{
			font-size: rem(24);
			position: absolute;
			top: rem(80);
			left: rem(216);
			text-align: left;
		}
	}
}