* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; }

ul {
  list-style: none; }

img {
  vertical-align: top; }

body, html {
  color: #333;
  font-family: Tahoma,Arial,Roboto,'Droid Sans','Helvetica Neue','Droid Sans Fallback','Heiti SC',sans-self; }

a {
  text-decoration: none;
  color: #333; }

.full-size img {
  width: 100%; }

.f-wrap {
  font-size: 14px; }

.vam {
  vertical-align: middle; }

.hidden {
  overflow: hidden; }

.rel {
  position: relative; }

.abs {
  position: absolute; }

.fl {
  float: left; }

.fr {
  float: right; }

.bold {
  font-weight: bold; }

.load-img {
  background-image: url(http://img11.360buyimg.com/cms/jfs/t853/64/222820902/5860/54fc0ad5/550bc4d5N2164a1f4.gif);
  background-repeat: no-repeat;
  background-position: center center;
  display: block; }

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 9999;
  background-image: url(http://img11.360buyimg.com/cms/jfs/t853/64/222820902/5860/54fc0ad5/550bc4d5N2164a1f4.gif);
  background-repeat: no-repeat;
  background-position: center center;
  display: block; }

.color-red {
  color: #f02b2b; }

.color-gold {
  color: #fff600; }

.bg-white {
  background-color: #fff; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.tac {
  text-align: center; }

.pt10 {
  padding-top: 0.21333rem; }

.pd10 {
  padding: 0.21333rem; }

.pl10 {
  padding-left: 0.21333rem; }

.pr10 {
  padding-right: 0.21333rem; }

.pl20 {
  padding-left: 0.42667rem; }

.pd20 {
  padding: 0.42667rem; }

.mg10 {
  margin: 0.21333rem; }

.mt5 {
  margin-top: 0.10667rem; }

.mt10 {
  margin-top: 0.21333rem; }

.mb10 {
  margin-bottom: 0.21333rem; }

.ml10 {
  margin-left: 0.21333rem; }

.mr10 {
  margin-right: 0.21333rem; }

.pb20 {
  padding-bottom: 0.42667rem; }

.pb80 {
  padding-bottom: 1.70667rem; }

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block; }

.scrolling {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap; }

.row1 {
  height: 0.768rem; }

.row2 {
  height: 1.536rem; }

.mh200 {
  min-height: 4.26667rem; }

.fs26 {
  font-size: 0.55467rem; }

.fs30 {
  font-size: 0.64rem; }

.fs36 {
  font-size: 0.768rem; }

[class^="f-column"] {
  font-size: 0; }
  [class^="f-column"].colp10 {
    margin-right: -0.21333rem; }
  [class^="f-column"].colp20 {
    margin-right: -0.42667rem; }
  [class^="f-column"] .item-wrap {
    overflow: hidden; }
  [class^="f-column"].colp10 .item-wrap {
    margin-right: 0.21333rem;
    margin-bottom: 0.21333rem; }
  [class^="f-column"].colp20 .item-wrap {
    margin-right: 0.42667rem;
    margin-bottom: 0.42667rem; }
  [class^="f-column"] .f-item {
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    vertical-align: top; }
  [class^="f-column"] .f-pic img {
    width: 100%; }

.f-column-1 .f-item {
  width: 100%; }

.f-column-2 .f-item {
  width: 50%; }

.f-column-3 .f-item {
  width: 33.33%; }

.f-column-4 .f-item {
  width: 25%; }

.good-stuff .f-column-2.colp10 {
  margin-right: 0.21333rem; }
  .good-stuff .f-column-2.colp10 .item-wrap {
    width: 7.46667rem; }
    .good-stuff .f-column-2.colp10 .item-wrap .f-pic {
      text-align: center;
      width: 7.46667rem;
      height: 7.68rem; }
      .good-stuff .f-column-2.colp10 .item-wrap .f-pic img {
        width: 90%;
        transform: translate3d(0, 5%, 0);
        -webkit-transform: translate3d(0, 5%, 0); }

.f-column-2-4 .f-item:nth-child(1), .f-column-2-4 .f-item:nth-child(2), .f-column-2-4 .f-item:nth-child(3), .f-column-2-4 .f-item:nth-child(4) {
  width: 50%; }
.f-column-2-4 .f-item {
  width: 25%; }

body {
  background-color: #f7f7f7; }

.floor {
  overflow: hidden; }

.floor-tit img {
  width: 100%; }

.f-column-2 .f-price {
  overflow: hidden; }

.f-btn-buy {
  background: url(../img/shopcar.png) no-repeat;
  background-size: 100% 100%;
  width: 0.85333rem;
  height: 0.85333rem;
  display: inline-block;
  position: absolute;
  right: 0.32rem;
  bottom: 0.32rem; }

.f-coupon .pic {
  display: none; }
.f-coupon .normal .pic_n, .f-coupon .success .pic_s, .f-coupon .over .pic_o {
  display: block; }

.hall .f-column-2-4 {
  padding: 0.53333rem 0.42667rem 0.42667rem 0.42667rem; }
.hall .f-item:first-child {
  margin-left: -0.42667rem;
  margin-right: 0.42667rem; }
.hall .f-item:first-child .item-wrap {
  margin-right: 0; }

.floor-nav {
  min-height: 1.792rem; }

.floor-nav .fixed {
  position: fixed; }

.float-nav {
  top: 0;
  left: 0;
  width: 100%; }
.float-nav .top-bar {
  background-color: #6e0d98;
  line-height: 1.87733rem;
  padding-right: 2.048rem;
  position: relative;
  overflow: hidden;
  height: 1.87733rem;
  border-bottom: 1px solid #6e0d98; }
.float-nav .nav-list-f li {
  margin: 0 0.32rem;
  position: relative; }
.float-nav a {
  color: #fff; }
.float-nav .cur a {
  color: #ffe615; }
.float-nav .nav-list-f .cur a:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.128rem;
  background-color: #ffe615;
  left: 0;
  bottom: 0; }
.float-nav .i-arrow {
  background: url(../img/arrow.png) no-repeat;
  width: 0.61867rem;
  height: 0.32rem;
  display: block;
  background-size: 1.32267rem 0.34133rem; }
.float-nav .btn-nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.048rem;
  height: 100%;
  background-color: #6e0d98;
  display: block;
  box-shadow: -0.17067rem 0 0.17067rem #5f0b83; }
  .float-nav .btn-nav .i-arrow {
    margin: 0.81067rem 0 0 0.704rem; }
.float-nav.active .nav-list-s {
  display: block; }
.float-nav.active .i-arrow {
  background-position: right 0; }
.float-nav .nav-list-s {
  background-color: #8621b1;
  padding: 0.42667rem 0 0 0.42667rem;
  font-size: 0;
  display: none; }
.float-nav .nav-list-s .nav-s {
  background-color: #6f0f98;
  font-size: 0.512rem;
  height: 1.024rem;
  line-height: 1.024rem;
  padding: 0 0.64rem;
  border-radius: 0.64rem;
  margin: 0 0.53333rem 0.42667rem 0; }

.f-banner .bg {
  padding-bottom: 0.42667rem; }

.f-coupon {
  bottom: 0;
  left: 0;
  width: 100%; }
.f-coupon ul {
  line-height: 4.8rem;
  width: 92%;
  height: 100%;
  margin-left: -45.5%;
  top: 0;
  left: 50%; }
.f-coupon img {
  vertical-align: middle; }

.f-sigui .floor-con li {
  opacity: 0.6;
  transition: all 0.8s; }
.f-sigui .floor-con li.active {
  opacity: 1; }

.head-pic {
  left: 0;
  top: 0.21333rem;
  width: 49%; }

[class^="type-"] {
  margin-right: -0.21333rem;
  font-size: 0; }
[class^="type-"] li {
  display: inline-block; }
[class^="type-"] .item-wrap {
  margin-right: 0.21333rem;
  margin-bottom: 0.21333rem; }

.ad-part .type-2 li {
  width: 50%; }

.ad-part .type-3 li {
  width: 50%; }
.ad-part .type-3 li:first-child {
  width: 100%; }

.clearfix, .ms-goods {
  zoom: 1; }
  .clearfix:after, .ms-goods:after {
    display: block;
    content: '';
    height: 0;
    clear: both;
    overflow: hidden; }

.floor-tit {
  position: relative; }
  .floor-tit .link-more {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 3.968rem;
    height: 100%;
    text-indent: -213.312rem; }

.book {
  width: 16rem;
  height: 7.04rem;
  padding: 0; }
  .book.hide + .no-book {
    display: block; }
  .book .pic img {
    border-radius: 0.14933rem; }

.no-book {
  display: none;
  width: 15.14667rem;
  height: 7.04rem;
  margin: auto;
  line-height: 7.04rem;
  background-color: #ededed; }
  .no-book a {
    display: block; }
  .no-book h3 {
    font-weight: normal;
    font-size: 0.55467rem;
    text-align: center;
    color: #a3a3a3; }
  .no-book img {
    width: 1.6rem;
    height: 0.768rem;
    vertical-align: middle; }

.color-pink {
  color: #ff3a85; }

.ms-goods {
  margin-left: 0.42667rem; }
  .ms-goods li {
    float: left;
    width: 6.18667rem;
    height: 7.04rem; }
    .ms-goods li .tag {
      position: absolute;
      right: -0.10667rem;
      bottom: 0.128rem;
      display: inline-block;
      width: 2.58133rem;
      height: 0.81067rem;
      line-height: 0.81067rem;
      text-align: center;
      font-size: 0.512rem;
      opacity: 0;
      color: #fff; }
      .ms-goods li .tag.tag-iscoming {
        background: url(../img/coming.png) 0 0 no-repeat;
        background-size: 100% 100%; }
      .ms-goods li .tag.tag-isgoing {
        background: url(../img/ongoing.png) 0 0 no-repeat;
        background-size: 100% 100%; }
      .ms-goods li .tag.tag-isover {
        background: url(../img/isover.png) 0 0 no-repeat;
        background-size: 100% 100%; }
    .ms-goods li.iscoming .tag-iscoming {
      opacity: 1; }
    .ms-goods li.isgoing .tag-isgoing {
      opacity: 1; }
    .ms-goods li.isover .tag-isover {
      opacity: 1; }
    .ms-goods li .module {
      display: block;
      width: 5.97333rem; }
    .ms-goods li .pic {
      position: relative;
      width: 5.97333rem;
      height: 7.04rem; }
      .ms-goods li .pic img {
        width: 100%;
        height: auto; }

.book-unit {
  width: 16rem;
  margin-bottom: 1.06667rem;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; }

.brand {
  padding-top: 0; }
  .brand .floor-tit {
    min-height: 2.00533rem; }
  .brand .colp10 {
    margin-right: 0.10667rem; }
    .brand .colp10 .item-wrap {
      margin-right: 0.10667rem;
      margin-bottom: 0.10667rem; }
      .brand .colp10 .item-wrap .f-pic {
        border: solid 2px #f0f0f0;
        border-radius: 0.14933rem;
        overflow: hidden;
        min-width: 4.88533rem;
        min-height: 6.848rem;
        box-sizing: border-box; }

.gray-bg {
  background-color: #ededed; }

.item {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #f1f1f1; }

.item-content {
  width: auto;
  margin: 0.42667rem 0.42667rem 0;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 0.64rem 0.42667rem; }

h3.floor-tit.tac + .item .item-content {
  margin-top: 0; }

.item-content .title {
  font-size: 0.768rem;
  font-weight: 600;
  color: #424242;
  margin-bottom: 0.64rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.item-img {
  width: 100%;
  overflow: hidden;
  font-size: 0; }

.item-img > p {
  display: inline-block;
  width: 32.66%;
  padding-bottom: 32.66%;
  position: relative; }

.item-img > p:nth-child(2) {
  margin-left: 1%;
  margin-right: 1%; }

.item-img p > img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.35s ease;
  -webkit-transition: opacity 0.35s ease; }

.meta {
  padding-top: 0.64rem;
  color: #acacac;
  position: relative;
  overflow: hidden; }

.meta .author {
  display: inline-block;
  width: 65%;
  position: relative;
  padding-left: 0.768rem;
  overflow: hidden; }

.meta .author .icon-author {
  width: 0.55467rem;
  height: 0.55467rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(http://m.360buyimg.com/babel/jfs/t3082/88/2993822619/2673/70219250/57eb4b66Nd215ff88.png) no-repeat;
  background-size: 100% 100%; }

.icon-author > img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.35s ease;
  -webkit-transition: opacity 0.35s ease;
  border-radius: 50%; }

.meta .author .author-info, .good-num {
  display: block;
  font-size: 0.512rem;
  max-width: 55%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left; }

.meta .author .author-info {
  max-width: 40%; }

.meta .count {
  float: right;
  font-size: 0.512rem;
  line-height: 0.512rem;
  position: relative;
  max-width: 24%; }

.icon-count {
  display: inline-block;
  width: 0.68267rem;
  height: 0.46933rem;
  line-height: 0.46933rem;
  background: url(http://m.360buyimg.com/babel/jfs/t3097/244/3094722275/723/a1b8d4c8/57eb4b66N1f350512.png) center center no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
  margin-bottom: 0.10667rem;
  margin-right: 0.32rem; }

.f-name {
  font-size: 0.55467rem; }

small {
  font-size: 0.384rem;
  font-weight: lighter;
  color: #acacac;
  display: inline-block; }

.f-price {
  font-size: 0.59733rem; }

.f-price del {
  color: #acacac;
  font-size: 0.384rem;
  vertical-align: text-top;
  font-weight: lighter; }

.f-desc {
  position: relative;
  padding: 0 0.32rem 0.32rem; }

.end img {
  width: 100%;
  min-height: 4.43733rem; }

.goToTop {
  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 15px;
  bottom: 60px;
  background: url(../img/gotop.png) 0 0 no-repeat;
  background-size: 100% 100%;
  z-index: 9999; }

.nav {
  background: url(../img/nav.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
  height: 2.13333rem;
  font-size: 0; }
  .nav li {
    width: 25%;
    height: 100%;
    display: inline-block; }
    .nav li a {
      display: block;
      height: 100%;
      width: 100%; }

.toast {
  position: fixed;
  background-color: #000;
  top: 50%;
  margin-top: -40px;
  margin-left: -90px;
  left: 50%;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  padding: 15px;
  opacity: .9;
  color: #fff;
  z-index: 999;
  display: none; }

.toast div {
  font-size: 0.8rem; }

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); } }
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); } }
.slideIn {
  display: block;
  -webkit-animation: slideInUp 1s both;
  animation: slideInUp 1s both;
  animation: slideInUp 1s both; }

.hide {
  display: none; }

.book-outer .floor-tit {
  min-height: 2.06933rem; }

.list .floor-tit {
  min-height: 2.112rem; }

.good-stuff .floor-tit {
  min-height: 2.06933rem; }

.state {
  background: url(../img/bg1.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
  position: relative;
  box-sizing: border-box;
  display: none; }

a.share-my11 {
  display: block;
  width: 4.69333rem;
  height: 0.96rem;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right; }
  a.share-my11 img {
    margin-right: 0.32rem;
    height: 0.64rem;
    padding-top: 0.10667rem; }

.user:after {
  content: "";
  clear: both;
  display: table; }
.user li {
  float: left; }
  .user li:first-child {
    padding: 0.85333rem 0.32rem 0.85333rem 0.42667rem; }
    .user li:first-child img {
      width: 3.2rem;
      height: 3.2rem;
      border: solid 0.08533rem #d25aa0;
      border-radius: 100px; }
    .user li:first-child + li {
      margin-top: 1.06667rem; }
      .user li:first-child + li h3 {
        font-size: 0.512rem;
        color: #fdbd34;
        font-weight: normal; }
      .user li:first-child + li .tag-list.two-row p:first-child + p {
        margin-left: 2.02667rem; }
      .user li:first-child + li .tag-list.two-row p:first-child {
        margin-top: 0.42667rem;
        margin-bottom: 0.42667rem; }
      .user li:first-child + li .tag-list.one-row {
        line-height: 2.66667rem; }
        .user li:first-child + li .tag-list.one-row p + p {
          display: none; }
      .user li:first-child + li .tag-list p:first-child {
        margin-left: 1.06667rem; }
      .user li:first-child + li .tag-list span {
        height: 0.78933rem;
        line-height: 0.78933rem;
        background-color: #e13473;
        padding: 0 0.21333rem;
        font-size: 0.55467rem;
        color: #fff;
        display: inline-block;
        border-radius: 0.42667rem;
        max-width: 3.94667rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .user li:first-child + li .tag-list span + span {
        margin-left: 0.42667rem; }
      .user li:first-child + li .tag-list > p {
        font-size: 0; }

p.line {
  background: url(../img/line.png) 0 0 no-repeat;
  background-size: 100% 100%;
  width: 15.25333rem;
  margin: auto;
  height: 1px; }

.user-msg {
  color: #fff;
  text-align: center;
  padding-bottom: 1.17333rem; }
  .user-msg .msg-tit {
    font-size: 0.59733rem;
    font-weight: normal;
    height: 2.02667rem;
    line-height: 2.02667rem; }
  .user-msg .msg-detail {
    width: 15.14667rem;
    height: 6.61333rem;
    background: url(../img/msg-bg.png) 0 0 no-repeat;
    background-size: 100% 100%;
    margin: auto; }
    .user-msg .msg-detail table {
      width: 65%;
      margin: auto;
      border-collapse: collapse;
      border-spacing: 0; }
    .user-msg .msg-detail th {
      font-size: 0.768rem;
      height: 1.81333rem;
      line-height: 1.81333rem; }
    .user-msg .msg-detail td {
      text-align: right;
      color: #000;
      height: 2.09067rem;
      font-size: 0.46933rem;
      color: #f7a5ff;
      width: 50%;
      max-width: 4.58667rem; }
      .user-msg .msg-detail td:first-child {
        padding-right: 1.06667rem; }
      .user-msg .msg-detail td:nth-child(2) {
        padding-right: 1.06667rem; }
      @media screen and (max-width: 350px) {
        .user-msg .msg-detail td:nth-child(2) {
          padding-right: 0.42667rem; } }
      .user-msg .msg-detail td p:first-child {
        font-size: 0.59733rem; }
      .user-msg .msg-detail td span {
        font-size: 0.93867rem;
        margin-right: 0.10667rem; }
        .user-msg .msg-detail td span.fs40 {
          font-size: 0.85333rem; }

.user-image {
  height: 5.97333rem;
  text-align: center;
  line-height: 5.97333rem; }
  .user-image img {
    width: 3.2rem;
    height: 3.2rem;
    border: solid 0.08533rem #f46a97;
    border-radius: 100px;
    vertical-align: middle; }

.btn-newUser {
  display: block;
  height: 2.02667rem;
  line-height: 2.02667rem;
  text-align: center; }
  .btn-newUser img {
    vertical-align: middle;
    width: 5.26933rem;
    height: 0.64rem; }

.tip-caption {
  width: 15.14667rem;
  height: 6.61333rem;
  background: url(../img/glass.png) 0 0 no-repeat;
  background-size: 100% 100%;
  margin: auto;
  padding: 1.06667rem 0 1.216rem;
  box-sizing: border-box; }
  .tip-caption h3 {
    text-align: center; }
    .tip-caption h3 img {
      width: 1.472rem;
      height: 1.17333rem; }
  .tip-caption p {
    text-align: center;
    font-size: 0.512rem;
    color: #fff;
    margin-top: 0.32rem; }
  .tip-caption a {
    display: block;
    text-align: center;
    padding-top: 1.06667rem; }
    .tip-caption a img {
      width: 4.90667rem;
      height: 1.06667rem;
      vertical-align: bottom; }

.loading-err {
  height: 6.61333rem;
  width: 15.14667rem;
  background: url(../img/glass.png) 0 0 no-repeat;
  background-size: 100% 100%;
  margin: auto;
  position: relative; }
  .loading-err h3 {
    position: absolute;
    width: 100%;
    min-height: 1.92rem;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    font-size: 0.512rem;
    font-weight: normal;
    text-align: center; }
    .loading-err h3 img {
      width: 1.024rem;
      height: 0.98133rem;
      vertical-align: middle;
      margin-bottom: 0.32rem;
      -webkit-animation: rotateIn 1s linear infinite;
      animation: rotateIn 1s linear infinite; }

.state.active {
  display: block; }

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg); }
  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none; } }
@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg); }
  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .book {
    height: 5.02827rem; }

  .ms-goods li {
    width: 4.48rem;
    height: 5.02827rem; }
    .ms-goods li a.module, .ms-goods li .pic {
      width: 4.26667rem;
      height: 5.02827rem; }
    .ms-goods li .tag {
      width: 1.83467rem;
      height: 0.576rem;
      line-height: 0.576rem;
      font-size: 0.34133rem;
      right: -0.08533rem; }

  .good-stuff .f-column-2 .f-item {
    width: 25%; }
  .good-stuff .f-column-2.colp10 {
    margin-right: 0.21333rem; }
    .good-stuff .f-column-2.colp10 .item-wrap {
      width: 3.62667rem; }
      .good-stuff .f-column-2.colp10 .item-wrap .f-pic {
        text-align: center;
        width: 3.62667rem;
        height: 3.62667rem; }
        .good-stuff .f-column-2.colp10 .item-wrap .f-pic img {
          width: 90%;
          transform: translate3d(0, 5%, 0);
          -webkit-transform: translate3d(0, 5%, 0); }
  .good-stuff .f-column-2 .f-name {
    font-size: 0.34133rem; }
  .good-stuff .f-column-2 .row2 {
    height: 0.81067rem; }
  .good-stuff .f-column-2 .f-btn-buy {
    width: 1.42933rem;
    height: 0.512rem; }
  .good-stuff .f-column-2 .f-price {
    font-size: 0.34133rem; }
  .good-stuff .f-column-2 .f-price del, .good-stuff .f-column-2 small.mt10 {
    font-size: 0.256rem; } }
.share-tit {
  height: 5.12rem; }
  .share-tit img {
    width: 100%;
    vertical-align: middle; }

.share-msg {
  background: url(../img/glass.png) 0 1.70667rem no-repeat;
  background-size: 100% 100%;
  width: 14.72rem;
  margin: auto;
  color: #fff; }
  .share-msg .user-image {
    height: auto;
    line-height: normal; }

.share-topic {
  text-align: center;
  font-size: 0.768rem;
  height: 2.00533rem;
  line-height: 2.00533rem;
  font-weight: normal; }

.share-mylove {
  width: 13.86667rem;
  margin: auto; }
  .share-mylove p {
    font-size: 0.512rem; }

.mylove-detail {
  font-size: 0.59733rem;
  padding-left: 1.17333rem;
  margin-top: 0.42667rem;
  margin-bottom: 0.96rem; }
  .mylove-detail:after {
    content: "";
    display: table;
    clear: both; }
  .mylove-detail span {
    display: inline-block;
    height: 0.85333rem;
    width: 2.13333rem;
    text-align: center;
    line-height: 0.85333rem;
    background-color: #d5347a;
    border-radius: 0.42667rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left; }
  .mylove-detail span + span {
    margin-left: 0.384rem; }

p.share-line {
  background: url(../img/line.png) 0 0 no-repeat;
  background-size: 100% 100%;
  width: 100%;
  margin: auto;
  height: 1px;
  margin-bottom: 0.27733rem; }

.share-msg-detail .share-msg-detail-tit {
  text-align: center;
  padding: 0.53333rem 0;
  font-size: 0.64rem;
  font-weight: normal; }
.share-msg-detail table {
  width: 10.15467rem;
  height: 4.13867rem;
  background: url(../img/share-num-bg.png) 0 0 no-repeat;
  background-size: 100% 100%;
  margin: 0 auto 0.32rem;
  border-spacing: 0; }
  .share-msg-detail table td {
    text-align: right;
    padding-right: 1.06667rem;
    width: 50%; }
    .share-msg-detail table td p:first-child {
      font-size: 0.59733rem;
      font-weight: 600; }
    .share-msg-detail table td p:nth-child(2) {
      font-size: 0.46933rem;
      color: #e9beff; }
    .share-msg-detail table td p span {
      font-size: 0.896rem; }
      .share-msg-detail table td p span.fs40 {
        font-size: 0.85333rem; }
.share-msg-detail .share-msg-tit {
  padding: 0.42667rem 0;
  text-align: center;
  font-size: 0.55467rem; }

.share-btn {
  padding-top: 1.06667rem;
  padding-bottom: 1.81333rem; }
  .share-btn a {
    display: block;
    text-align: center; }
    .share-btn a img {
      width: 7.12533rem;
      height: 1.728rem; }

.share-container {
  background-image: url(../img/share-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; }

/*# sourceMappingURL=style.css.map */
