@function rem ($value){
    @return $value/(750px/16px/1rem);
}

*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(0,0,0,0);}
ul{list-style: none;}
img{vertical-align: top;}
body,html{color:#333;font-family:Tahoma,Arial,Roboto,'Droid Sans','Helvetica Neue','Droid Sans Fallback','Heiti SC',sans-self;
}
a{text-decoration: none;color:#333;}
.full-size img{width: 100%;}
.f-wrap{font-size: 14px;}
.vam{vertical-align: middle;}
.hidden{overflow: hidden;}
.rel{position: relative;}
.abs{position: absolute;}
.fl{float: left;}
.fr{float: right;}

.loading{
	position:fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #fff;
	z-index: 9999;
	background-image: url(http://img11.360buyimg.com/cms/jfs/t853/64/222820902/5860/54fc0ad5/550bc4d5N2164a1f4.gif);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
}
.color-red{color:#f02b2b;}
.bg-white{background-color: #fff;}
.db{display: block;}
.dib{display: inline-block;}
.tac{text-align: center;}
.pt10{padding-top: rem(10)}
.pd10{padding: rem(10)}
.pl10{padding-left: rem(10)}
.pr10{padding-right: rem(10)}
.pd20{padding: rem(20)}
.mg10{margin: rem(10)}
.mt5{margin-top: rem(5)}
.mt10{margin-top: rem(10)}
.mb10{margin-bottom: rem(10)}
.ml10{margin-left: rem(10)}
.mr10{margin-right: rem(10)}

.ellipsis{text-overflow:ellipsis;white-space: nowrap;overflow: hidden;display: block;}
.scrolling{overflow-x:auto;-webkit-overflow-scrolling: touch;white-space: nowrap;}
.row1{height: rem(36);}
.mh200{min-height: rem(200);}

.fs26{font-size: rem(26);}
.fs30{font-size: rem(30);}
.fs36{font-size: rem(36);}

.clearfix{
	zoom: 1;
	&:after{
		display: block;
		content: '';
		height: 0;
		clear: both;
		overflow: hidden;
	}
}

body{background: url(../img/bg.jpg) 0 0 no-repeat;background-size:100% 100%;}
.wrapper img{width: 100%;}
.more-option{
	margin-top: rem(80);
}
.btn-activity-rule{
	position: fixed;
	width: 100%;
	height: rem(80);
	top: 0;
	right: 0;
	text-align: right;

	img{
		height: 100%;
		width: auto;
	}
}
.option-list{

	li{
		text-align: center;
		margin-bottom: rem(10);

		a{
			// padding:25px 60px;
			display: inline-block;
			width: rem(410);
			height: rem(95);
			background-color: #cb1057;
			border-radius: 25px;
			color: #fff;
			font-size: 16px;
			line-height: rem(95);
		} 

		// a.option-rule{
		// 	color: #fdf23b;
		// 	line-height: normal;
		// 	background: none;
		// 	border-radius: 0;

		// 	&:after{
		// 		content: "";
		// 		display: block;
		// 		margin: auto;
		// 		width: rem(38);
		// 		height: rem(26);
		// 		background: url(../img/tri-angle.png) 0 0 no-repeat;
		// 		background-size: 100% 100%;
		// 		margin-top: rem(10);
		// 	}
		// }
	}
}
.input-container{
	margin-top: rem(38);
	text-align: center;
	position: relative;

	input{
		width: rem(617);
		height: rem(88);
		padding-left: 15px;
		line-height: rem(88);
		font-size: 16px;
		border: solid 1px #fdf23b;
		border-radius: 5px;
	}
}
.btn-container{
	margin-top: rem(28);
}
i.icon-cancel{
	content: "";
	display: inline-block;
	height: rem(60);
	width: rem(60);
	background: url(../img/icon-clear.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 1.5rem;
	top: rem(16);
}
i.icon-hide{
	content: "";
	display: inline-block;
	height: rem(67);
	width: rem(67);
	background: url(../img/cancel.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 1rem;
	top: 0;
	transform: translate3d(0,-50%,0);
	-webkit-transform: translate3d(0,-50%,0);
}
.description{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	display: none;
}
.activity-rule{
	height: 80%;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: visible;
	background: url(../img/bg.jpg) 0 0 no-repeat;
	background-size: 100% 100%;
	
	>a{
		display: block;
		width: 50%;
		position: absolute;
		height: rem(100);
		top: 0;
		right: 0;
	}

	.activity-rule-inner{
		padding-top: rem(40);
		box-sizing: border-box;
		overflow: auto;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		padding: 0 20px 0;

		h3{
			font-size: 24px;
			text-align: center;
			color: #fff;
			margin-bottom: 20px;
			margin-top: 25px;
		}
		
		p{
			margin-bottom: 10px;
			font-size: 14px;
			color: #fff;

			span{
				color: #fff155;
				margin-right: 10px;
			}
		}

		section{
			line-height: 25px;
			font-size: 14px;
			color: #fff;
			margin-bottom: 15px;

			span{
				color: #fff155;
			}

			ul{
				list-style: decimal;
				padding-left: 15px;
			}
		}
	}
}

@media (max-width: 350px) {
	.activity-rule{
		.activity-rule-inner{
			padding: 0 18px 0;

			h3{
				font-size: 22px;
			}
			
			p{
				font-size: 12px;
			}

			section{
				line-height: 20px;
				font-size: 12px;
			}
		}
	}
}
.getCode{
	height: 80%;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: visible;
	background: url(../img/bg.jpg) 0 0 no-repeat;
	background-size: 100% 100%;
	
	>a{
		display: block;
		width: 50%;
		position: absolute;
		height: rem(100);
		top: 0;
		right: 0;
	}
	
	.getCode-inner{
		padding-top: rem(40);
		box-sizing: border-box;
		overflow: auto;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
	img{
		width: 100%;
	}
}
.description.active{
	display: block;
}
.status{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	z-index: 999;
	display: none;

	.status-inner{
		width: rem(530);
		text-align: center;
		background: url(../img/popBox-bg.png) 0 0 no-repeat;
		background-size: 100% 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		-webkit-transform: translate3d(-50%, -50%, 0);

		>img{
			margin-top: rem(50);
			width: rem(280);
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
		.des{
			margin-top: rem(45);

			h3{
				color:#ffee00;
				text-align: center;
				font-size: 20px;
				margin-bottom: 5px;
			}

			p{
				font-size: 16px;
				text-align: center;
				color: #fff;
				min-height: rem(40);
				line-height: 20px;
				padding: 0 10px;
			}
		}

		> a{
			display: block;
			text-align: center;
			margin: rem(60) 0;

			img{
				width: rem(345);
			}
		}
	}

	// a{
	// 	display: block;

	// 	img{
	// 		position: absolute;
	// 		width: rem(501);
	// 		top: 50%;
	// 		left: 50%;
	// 		transform: translate3d(-50%, -50%, 0);
	// 		-webkit-transform: translate3d(-50%, -50%, 0);
	// 	}
	// }
}
.status.active{
	display: block;
}
.success-getCoupon-inner{
	position: absolute;
	width: rem(501);
	height: rem(668);
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);

	img{
		width: 100%;
		height: 100%;
		display: block;
	}

	a.makeMyCode{
		position: absolute;
		bottom: 0;
		left: 0;
		width: rem(270);
		height: rem(158);
		display: block;
	}

	a.informMyFriend{
		position: absolute;
		bottom: 0;
		right: 0;
		width: rem(230);
		height: rem(158);
		display: block;
	}
}

.success-make-inner{
	position: absolute;
	width: rem(501);
	height: rem(668);
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);

	img{
		width: 100%;
		height: 100%;
		display: block;
	}

	a.notInformNow{
		position: absolute;
		bottom: 0;
		left: 0;
		width: rem(270);
		height: rem(158);
		display: block;
	}

	a.informMyFriend{
		position: absolute;
		bottom: 0;
		right: 0;
		width: rem(230);
		height: rem(158);
		display: block;
	}
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(-50%, 100%, 0);
    transform: translate3d(-50%, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(-50%, 100%, 0);
    transform: translate3d(-50%, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

.slideIn {
	display: block;

	.status-inner{
		-webkit-animation: slideInUp 1s both;
		animation: slideInUp 1s both;
	}

	.success-getCoupon-inner,.success-make-inner{
		-webkit-animation: slideInUp 1s both;
		animation: slideInUp 1s both;
	}
}

@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-50%, 100%, 0);
    transform: translate3d(-50%, 100%, 0);
  }
}

@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-50%, 100%, 0);
    transform: translate3d(-50%, 100%, 0);
  }
}

.slideOut {
	background-color: transparent;;

	.status-inner{
		-webkit-animation: slideOutDown .5s both;
		animation: slideOutDown .5s both;
	}

	.success-getCoupon-inner,.success-make-inner{
		-webkit-animation: slideOutDown .5s both;
		animation: slideOutDown .5s both;
	}
}



@-webkit-keyframes des_slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes des_slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.des_slideIn {
	display: block;

	> div{
		-webkit-animation: des_slideInUp 1s both;
		animation: des_slideInUp 1s both;
	}
}

@-webkit-keyframes des_slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes des_slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.des_slideOut {
	background-color: transparent;

	>div{
		-webkit-animation: des_slideOutDown .5s both;
		animation: des_slideOutDown .5s both;
	}
}

.share{
	padding-top: rem(65);

	img{
		width: 100%;
	}

	.btn-wrapper{
		display: block;
		margin: rem(65) auto;
	}
}

.tips{
	color: #ffa665;
	width: rem(617);
	margin: rem(100) auto 0;

	h3{
		font-size: 20px;
		text-align: center;
		font-weight: normal;
	}

	p{
		font-size: 14px;
		line-height: 25px;
		font-weight: lighter;
	}
}

@media (max-width: 350px) {
	.tips p{
		font-size: 12px;
		line-height: 20px;
	}
}

@media (max-width: 375px) and (min-width: 351px){
	.tips p{
		font-size: 13px;
		line-height: 23px;
	}
}

.share-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	display: none;
	
	&.active{
		display: block;
	}

	img{
		width: 100%;
	}
}

.makedCode-container{
	width: rem(617);
	margin: rem(30) auto 0;
	text-align: center;
	background-color: #d12549;
	border-radius: 4px;
	padding: rem(30) 0;
 
	h3{
		font-size: 18px;
		font-weight: normal;
		color: #ffee00;
		margin-bottom: 5px;
		overflow: hidden;
	}
	p{
		font-size: 16px;
		color: #ffb477;
	}
}

.hide{
	display: none;
}
.btn-mask+img{
	display: none;
}
.btn-mask.hide+img{
	display: inline;
}