* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; }

ul {
  list-style: none; }

img {
  vertical-align: top; }

body, html {
  color: #333;
  font-family: Tahoma,Arial,Roboto,'Droid Sans','Helvetica Neue','Droid Sans Fallback','Heiti SC',sans-self; }

a {
  text-decoration: none;
  color: #333; }

.full-size img {
  width: 100%; }

.f-wrap {
  font-size: 14px; }

.vam {
  vertical-align: middle; }

.hidden {
  overflow: hidden; }

.rel {
  position: relative; }

.abs {
  position: absolute; }

.fl {
  float: left; }

.fr {
  float: right; }

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 9999;
  background-image: url(http://img11.360buyimg.com/cms/jfs/t853/64/222820902/5860/54fc0ad5/550bc4d5N2164a1f4.gif);
  background-repeat: no-repeat;
  background-position: center center;
  display: block; }

.color-red {
  color: #f02b2b; }

.bg-white {
  background-color: #fff; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.tac {
  text-align: center; }

.pt10 {
  padding-top: 0.21333rem; }

.pd10 {
  padding: 0.21333rem; }

.pl10 {
  padding-left: 0.21333rem; }

.pr10 {
  padding-right: 0.21333rem; }

.pd20 {
  padding: 0.42667rem; }

.mg10 {
  margin: 0.21333rem; }

.mt5 {
  margin-top: 0.10667rem; }

.mt10 {
  margin-top: 0.21333rem; }

.mb10 {
  margin-bottom: 0.21333rem; }

.ml10 {
  margin-left: 0.21333rem; }

.mr10 {
  margin-right: 0.21333rem; }

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block; }

.scrolling {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap; }

.row1 {
  height: 0.768rem; }

.mh200 {
  min-height: 4.26667rem; }

.fs26 {
  font-size: 0.55467rem; }

.fs30 {
  font-size: 0.64rem; }

.fs36 {
  font-size: 0.768rem; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    display: block;
    content: '';
    height: 0;
    clear: both;
    overflow: hidden; }

body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; }

.wrapper img {
  width: 100%; }

.more-option {
  margin-top: 1.70667rem; }

.btn-activity-rule {
  position: fixed;
  width: 100%;
  height: 1.70667rem;
  top: 0;
  right: 0;
  text-align: right; }
  .btn-activity-rule img {
    height: 100%;
    width: auto; }

.option-list li {
  text-align: center;
  margin-bottom: 0.21333rem; }
  .option-list li a {
    display: inline-block;
    width: 8.74667rem;
    height: 2.02667rem;
    background-color: #cb1057;
    border-radius: 25px;
    color: #fff;
    font-size: 0.64rem;
    line-height: 2.02667rem; }
  .option-list li a.option-rule {
    color: #fdf23b;
    line-height: normal;
    background: none;
    border-radius: 0;
    font-size: 0.704rem; }

a.option-rule {
  color: #fdf23b;
  line-height: normal;
  background: none;
  border-radius: 0;
  font-size: 0.704rem; }
  a.option-rule:after {
    content: "";
    display: block;
    margin: auto;
    width: 0.81067rem;
    height: 0.55467rem;
    background: url(../img/tri-angle.png) 0 0 no-repeat;
    background-size: 100% 100%;
    margin-top: 0.21333rem; }

.input-container {
  margin-top: 0.81067rem;
  text-align: center;
  position: relative; }
  .input-container input {
    width: 14.44267rem;
    height: 1.87733rem;
    padding: 0.42667rem 0.64rem;
    line-height: 1.024rem;
    font-size: 0.66133rem;
    border: solid 1px #fdf23b;
    border-radius: 5px;
    box-sizing: border-box; }

.btn-container {
  margin-top: 0.59733rem; }

i.icon-cancel {
  content: "";
  display: inline-block;
  height: 1.28rem;
  width: 1.28rem;
  background: url(../img/icon-clear.png) 0 0 no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 1.5rem;
  top: 0.34133rem; }

i.icon-hide {
  content: "";
  display: inline-block;
  height: 1.42933rem;
  width: 1.42933rem;
  background: url(../img/cancel.png) 0 0 no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 1rem;
  top: 0;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0); }

.description {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; }

.activity-rule {
  height: 80%;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: visible;
  background: url(../img/bg.jpg) 0 0 no-repeat;
  background-size: 100% 100%; }
  .activity-rule > a {
    display: block;
    width: 50%;
    position: absolute;
    height: 2.13333rem;
    top: 0;
    right: 0; }
  .activity-rule .activity-rule-inner {
    padding-top: 0.85333rem;
    box-sizing: border-box;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 20px 0; }
    .activity-rule .activity-rule-inner h3 {
      font-size: 0.87467rem;
      text-align: center;
      color: #fff;
      margin-bottom: 0.85333rem;
      margin-top: 1.06667rem; }
    .activity-rule .activity-rule-inner p {
      margin-bottom: 0.53333rem;
      font-size: 0.53333rem;
      color: #fff; }
      .activity-rule .activity-rule-inner p span {
        color: #fff155;
        margin-right: 10px;
        font-weight: 600; }
    .activity-rule .activity-rule-inner section {
      line-height: 25px;
      font-size: 0.53333rem;
      color: #fff;
      margin-bottom: 0.64rem; }
      .activity-rule .activity-rule-inner section span {
        color: #fff155;
        font-weight: 600; }
      .activity-rule .activity-rule-inner section ul {
        list-style: decimal;
        padding-left: 15px; }

@media (max-width: 350px) {
  .activity-rule .activity-rule-inner {
    padding: 0 18px 0; }
    .activity-rule .activity-rule-inner h3 {
      font-size: 22px; }
    .activity-rule .activity-rule-inner p {
      font-size: 12px; }
    .activity-rule .activity-rule-inner section {
      line-height: 20px;
      font-size: 12px; } }
.getCode {
  height: 80%;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: visible;
  background: url(../img/bg.jpg) 0 0 no-repeat;
  background-size: 100% 100%; }
  .getCode > a {
    display: block;
    width: 50%;
    position: absolute;
    height: 2.13333rem;
    top: 0;
    right: 0; }
  .getCode .getCode-inner {
    padding-top: 0.85333rem;
    box-sizing: border-box;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  .getCode img {
    width: 100%; }

.description.active {
  display: block; }

.status {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: none; }
  .status .status-inner {
    width: 11.30667rem;
    text-align: center;
    background: url(../img/popBox-bg.png) 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0); }
    .status .status-inner > img {
      margin-top: 1.06667rem;
      width: 5.97333rem;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .status .status-inner .des {
      margin-top: 0.96rem; }
      .status .status-inner .des h3 {
        color: #ffee00;
        text-align: center;
        font-size: 0.85333rem;
        margin-bottom: 5px; }
      .status .status-inner .des p {
        font-size: 0.68267rem;
        text-align: center;
        color: #fff;
        min-height: 0.85333rem;
        line-height: 20px;
        padding: 0 10px; }
    .status .status-inner > a {
      display: block;
      text-align: center;
      margin: 1.28rem 0; }
      .status .status-inner > a img {
        width: 7.36rem; }

.status.active {
  display: block; }

.success-getCoupon-inner {
  position: absolute;
  width: 11.28533rem;
  height: 14.25067rem;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0); }
  .success-getCoupon-inner img {
    width: 100%;
    height: 100%;
    display: block; }
  .success-getCoupon-inner .getCoupon-detail {
    position: absolute;
    top: 7.78667rem;
    left: 3.2rem;
    width: 5.97333rem;
    height: 2.56rem;
    line-height: 2.56rem; }
    .success-getCoupon-inner .getCoupon-detail:after {
      content: "";
      clear: both;
      display: table; }
    .success-getCoupon-inner .getCoupon-detail h3 {
      float: left;
      font-size: 2.34667rem;
      color: #f11b65;
      letter-spacing: -0.256rem;
      text-indent: -0.21333rem; }
      .success-getCoupon-inner .getCoupon-detail h3.fs90 {
        font-size: 1.6rem; }
    .success-getCoupon-inner .getCoupon-detail p {
      float: left;
      max-width: 3.52rem;
      line-height: normal;
      padding-left: 0.29867rem;
      padding-top: 0.68267rem;
      box-sizing: border-box; }
      .success-getCoupon-inner .getCoupon-detail p span {
        display: inline-block;
        float: left; }
        .success-getCoupon-inner .getCoupon-detail p span:first-child {
          font-size: 0.448rem;
          padding: 0.04267rem 0.21333rem;
          box-sizing: border-box;
          background-color: #f11b65;
          color: #ffde1d;
          border-radius: 5px; }
        .success-getCoupon-inner .getCoupon-detail p span:last-child {
          font-size: 0.512rem;
          color: #f11b65;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 3.52rem; }

.success-make-inner {
  position: absolute;
  width: 11.30667rem;
  height: 14.25067rem;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0); }
  .success-make-inner img {
    width: 100%;
    height: 100%;
    display: block; }

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(-50%, 100%, 0);
    transform: translate3d(-50%, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); } }
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(-50%, 100%, 0);
    transform: translate3d(-50%, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); } }
.slideIn {
  display: block; }
  .slideIn .status-inner {
    -webkit-animation: slideInUp 1s both;
    animation: slideInUp 1s both; }
  .slideIn .success-getCoupon-inner, .slideIn .success-make-inner {
    -webkit-animation: slideInUp 1s both;
    animation: slideInUp 1s both; }

@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-50%, 100%, 0);
    transform: translate3d(-50%, 100%, 0); } }
@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-50%, 100%, 0);
    transform: translate3d(-50%, 100%, 0); } }
.slideOut {
  background-color: transparent; }
  .slideOut .status-inner {
    -webkit-animation: slideOutDown .5s both;
    animation: slideOutDown .5s both; }
  .slideOut .success-getCoupon-inner, .slideOut .success-make-inner {
    -webkit-animation: slideOutDown .5s both;
    animation: slideOutDown .5s both; }

@-webkit-keyframes des_slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes des_slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.des_slideIn {
  display: block; }
  .des_slideIn > div {
    -webkit-animation: des_slideInUp 1s both;
    animation: des_slideInUp 1s both; }

@-webkit-keyframes des_slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }
@keyframes des_slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }
.des_slideOut {
  background-color: transparent; }
  .des_slideOut > div {
    -webkit-animation: des_slideOutDown .5s both;
    animation: des_slideOutDown .5s both; }

.share {
  padding-top: 1.38667rem; }
  .share img {
    width: 100%; }
  .share .btn-wrapper {
    display: block;
    margin: 1.38667rem auto; }

.tips {
  color: #ffa665;
  width: 13.16267rem;
  margin: 2.13333rem auto 0; }
  .tips h3 {
    font-size: 0.704rem;
    text-align: center;
    font-weight: normal; }
  .tips p {
    font-size: 0.46933rem;
    line-height: 0.85333rem; }

@media (max-width: 350px) {
  .tips p {
    font-size: 12px;
    line-height: 20px; } }
@media (max-width: 375px) and (min-width: 351px) {
  .tips p {
    font-size: 13px;
    line-height: 23px; } }
.share-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; }
  .share-container.active {
    display: block; }
  .share-container img {
    width: 100%; }

.makedCode-container {
  width: 13.16267rem;
  margin: 0.64rem auto 0;
  text-align: center;
  background-color: #d12549;
  border-radius: 4px;
  padding: 0.64rem 0; }
  .makedCode-container h3 {
    font-size: 0.81067rem;
    font-weight: normal;
    color: #ffee00;
    margin-bottom: 5px;
    overflow: hidden; }
  .makedCode-container p {
    font-size: 0.72533rem;
    color: #ffb477; }

.hide {
  display: none; }

.btn-mask + img {
  display: none; }

.btn-mask.hide + img {
  display: inline; }

.rule-btn-fixed {
  position: fixed;
  width: 100%;
  bottom: 0.64rem;
  left: 0;
  text-align: center; }

.rule-btn {
  margin-bottom: 0.64rem;
  text-align: center; }

.mt50 {
  margin-top: 1.06667rem; }

@media screen and (min-height: 520px) {
  .option-rule {
    position: fixed;
    left: 0;
    width: 100% !important;
    bottom: 0.64rem;
    text-align: center; } }
.btn-wrapper {
  position: absolute;
  bottom: 1.49333rem;
  left: 0;
  width: 100%;
  height: 1.792rem;
  padding: 0 0.42667rem;
  box-sizing: border-box;
  text-align: center; }
  .btn-wrapper a {
    display: inline-block; }
    .btn-wrapper a img {
      height: 1.792rem;
      width: auto; }
  .btn-wrapper .makeMyCode, .btn-wrapper .notInformNow {
    float: left; }
  .btn-wrapper .informMyFriend {
    float: right; }
  .btn-wrapper.wechat .makeMyCode, .btn-wrapper.wechat .notInformNow {
    float: none; }
  .btn-wrapper.wechat .informMyFriend {
    display: none; }

.toast {
  position: fixed;
  background-color: #000;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  width: 7.25333rem;
  text-align: center;
  padding: 15px;
  opacity: .9;
  color: #fff;
  z-index: 999;
  display: none;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0); }

.toast div {
  font-size: 0.8rem; }

/*# sourceMappingURL=style.css.map */
