.d-list-wrapper:after,
.draw-box .d-list:after,
.slot-tit:after,
.form .item:after,
.draw-wrap:after,
.lottery_rule:after{
  content: "";
  display: table;
  clear: both;
}
.game-slot {
  width: 990px;
  height: 449px;
  margin: 0 auto;
  /*background-color: #3700bb;*/
  overflow: visible; 
  position: relative;
}
.game-slot-bg{
  width: 1032px;
  height: 449px;
  position: absolute;
  top: 0;
  left: 0;
}
.handle {
  cursor: pointer;
  float: right;
  margin-right: 15px;
  height: 163px;
  background: url(img/handle-bg.png) 0 bottom no-repeat;
}
.draw-box-bottom{
  position: relative;
  margin-left: 50px;
  color: #fff;
  width: 545px;
  height: 53px;
  background: url(img/name.png) 0 0 no-repeat;
}
.draw-box-bottom > *{
  display: inline-block;
  margin: 0;
}
.coupon-detail{
  color: #ffd200;
}
.draw-lastCount{
  width: 17px;
  height: 24px;
  right: 30px;
  position: absolute;
  top: 19px;
  background-position: center;
  background-repeat: no-repeat;
}
.draw-lastCount.less-3{
  background-image: url(img/3.png);
}
.handle img{
  transform: translateX(-11px);
  -webkit-transform: translateX(-11px);
}
.marquee {
  height: 30px;
  width: 330px;
  overflow: hidden;
  margin-top: 16px;
  position: relative;
  left: 74px;
}
.ui-marquee-main{
  margin: 0;
  padding: 0;
  list-style: none;
}
.marquee ul li {
  line-height: 30px;
  width: 330px;
  text-align: center;
  color: #fff; 
}

.no-result {
  height: 208px;
  padding: 50px 0;
  background: url(//misc.360buyimg.com/vip/skin/2013/i/a-i11.png) #fff no-repeat center; }

.draw-box {
  position: relative;
  float: left;
  top: 130px;
  width: 625px;
  height: 312px; }

.draw-box .d-list {
  width: 480px; 
  float: left;
  margin-top: 5px;
}
.draw-box .d-list .fore {
  float: left;
  position: relative;
  width: 154px;
  height: 158px;
  overflow: hidden;
  background: url(img/box.png) no-repeat; 
}
.draw-box .d-list .fore+.fore{
  margin: 0 0 0 9px;
}
.draw-box .d-list .fore ul {
  position: relative;
  z-index: 2; 
  padding: 0;
  margin: 0;
}

.draw-box .d-list .fore li {
  width: 130px;
  height: 130px; 
  margin: 12px auto 0;
  overflow: hidden;
}
.draw-box .d-list .fore li img{
  width: 100%;
}

.draw-box .d-list .fore em {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 154px;
  height: 158px;
  background: url(img/stuff-circle-bg.png) center center no-repeat;
}

.slot-tit{
  padding-bottom: 12px;
}
.slot-tit > *{
  float: left;
  display: inline-block;
}
.draw-box-inner{
  height: 250px;
  padding-top: 10px;
  padding-left: 60px;
  box-sizing: border-box;
}
.slot-tit > h3{
  width: 300px;
  height: 40px;
  text-align: center;
  color: #ffd200;
  font-size: 22px;
  margin: 0;
  line-height: 40px;
  overflow: hidden;
  padding: 0 10px;
  border-radius: 20px;
  background-color: #42009b;
  box-sizing: border-box;
}
.slot-tit > span,.slot-tit > a{
  margin-left: 16px;
  color: #966bce;
  font-size: 14px;
  padding-top: 20px;
}
.slot-tit > a{
  text-decoration: underline;
}
.yiyuanduihuan{
  width: 365px;
  float: left;
  position: relative;
  top: 130px;
  min-height: 1px;
}